<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("../partials/commonStyles.ejs") %>
    <%- include("../partials/commonFonts.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.0/dist/index.umd.min.js"></script>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
    <button class="btn btn-secondary btn-sm d-inline-block z-index-1 position-relative top-0 start-0 mt-3 ms-3" data-bs-toggle="modal" data-bs-target="#abortConfirmModal"><i class="bi bi-arrow-left-circle me-2"></i>Abort</button>
    <h1 class="text-center mt-2"><% if (preadviseTender) { %>Convert the preadvised tender in a registered tender<% } else { %> Register a tender to be launched<% } %></h1>
    <div class="container">
        <p class="lead mt-5 mb-2">
            Dear Account Owner,<br>
            The professional handling of a tender is a comprehensive task for our organization that involves substantial company resources.<br>
            Please invest the following 15 to 20 minutes to register your tender.<br>
            Thank you!
        </p>
    </div>
    <div class="container my-2 py-4">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item"><button class="page-link bg-secondary" id="prevBtn"><i class="bi bi-arrow-left text-light"></i></button></li>
              <li class="page-item disabled"><button class="page-link text-dark bg-secondary bg-opacity-25 pageBtn">1</button></li>
              <li class="page-item disabled"><button class="page-link text-dark pageBtn">2</a></li>
              <li class="page-item disabled"><button class="page-link text-dark pageBtn">3</a></li>
              <li class="page-item disabled"><button class="page-link text-dark pageBtn">4</a></li>
              <li class="page-item disabled"><button class="page-link text-dark pageBtn">5</a></li>
              <li class="page-item disabled"><button class="page-link text-dark pageBtn">6</a></li>
              <li class="page-item disabled"><button class="page-link text-dark pageBtn">7</a></li>
              <li class="page-item disabled"><button class="page-link text-dark pageBtn">8</a></li>
              <li class="page-item disabled"><button class="page-link text-dark pageBtn">9</a></li>
              <li class="page-item disabled"><button class="page-link text-dark pageBtn">10</a></li>
              <li class="page-item disabled"><button class="page-link text-dark pageBtn">11</a></li>
              <li class="page-item"><button class="page-link bg-secondary" id="nextBtn"><i class="bi bi-arrow-right text-light"></i></button></li>
              </li>
            </ul>
          </nav>
    </div>
    <div class="container mb-3 py-4 overflow-hidden bg-white border rounded">
        <form class="mb-5 needs-validation" id="registerForm" action="/register/new" method="POST" enctype="multipart/form-data" novalidate autocomplete="off">
            <div class="tile needs-validation">
                <div class="row justify-content-md-center mb-3">
                    <div class="col-12">
                        <h2>Location & handling of the tender registration</h2>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12">
                        <label class="form-label" for="countryLocation">For a more efficient handling of this tender, select your location.<% if (preadviseTender) { %><span class="badge align-top bg-secondary bg-opacity-75 fw-normal fs-7 ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Data provided in preadvise"><% for (let country of countriesData) { if (country.cca2 === preadviseTender.countryLocation) {%><%= country.name.common %> <%=country.flag%><% } } %></span><% } %></label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="countryLocation" name="countryLocation" required>
                                <option selected disabled value="">Choose...</option>
                                <% for (let country of countriesData) { %>
                                <option value="<%= country.cca2 %>" <% if (preadviseTender) { %><% if(preadviseTender.countryLocation === country.cca2) {%>selected<% } } %> ><%= country.cca2 %> - <%= country.name.common %> <% if (!country.flag) { %>🇺🇳<% } else { %> <%=country.flag%> <% } %></option>
                                <% } %>
                            </select>
                            <div class="invalid-feedback">Please make a selection.</div>
                        </div>
                        <div class="form-text">Make sure to input the country where you are located, not the country of the company related to the tender preadvise.</div>
                    </div>
                </div>
            </div>
            <div class="tile needs-validation">
                <div class="row justify-content-md-center mb-3">
                    <div class="col-12">
                        <h2>Pre-announcement</h2>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-3">
                    <div class="col-12 mb-3">
                        <label class="form-label" for="isPreadvised">Was the tender announced prior to launch?</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="isPreadvised" name="isPreadvised" required>
                                <% if (!preadviseTender) { %>
                                    <option selected disabled value="">Choose...</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                <% } else { %>
                                    <option value="yes" selected>Yes</option>
                                <% } %>
                            </select>
                            <div class="invalid-feedback">Please make a selection.</div>
                        </div>
                    </div>
                    <div class="col-12 mb-3" id="opt_preadviseID">
                        <div>
                            <label class="form-label" for="preadviseID">What is the tender pre-advise ID?<% if (preadviseTender) { %><span class="badge align-top bg-secondary bg-opacity-75 fw-normal font-monospace ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Data provided in preadvise"><%= preadviseTender.id %></span><% } %></label>
                            <input class="form-control" type="text" id="preadviseID" name="preadviseID"  <% if (preadviseTender) { %>value="<%= preadviseTender.id %>" readonly<% } else { %>required<% } %> >
                            <div class="form-text">Enter the tender pre-advise ID received by email when you pre-advised the tender.</div>
                            <div class="invalid-feedback">Please fill this field.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile needs-validation">
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h2>Account information</h2>
                                <p>Complete the details about your customer / prospect</p>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="form-label" for="companyName">Company Name (Customer)<% if (preadviseTender) { %><span class="badge align-top bg-secondary bg-opacity-75 fw-normal ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Data provided in preadvise"><%= preadviseTender.companyName %></span><% } %></label>
                                <input class="form-control" type="text" id="companyName" name="companyName" <% if (preadviseTender) { %>value="<%= preadviseTender.companyName %>"<% } %> required>
                                <div class="form-text">Enter the "group company name" of your customer / prospect.</div>
                                <div class="invalid-feedback">Please fill this field.</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="form-label" for="sugarID">Sugar ID<% if (preadviseTender) { %><span class="badge align-top bg-secondary bg-opacity-75 fw-normal ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Data provided in preadvise"><%= preadviseTender.sugarID %></span><% } %></label>
                                <input class="form-control" type="text" id="sugarID" name="sugarID" <% if (preadviseTender) { %>value="<%= preadviseTender.sugarID %>"<% } %> required>
                                <div class="form-text">Only enter ONE correct "main" <i>Indent Number</i> from the Sugar CRM system:</div>
                                <div class="invalid-feedback">Please fill this field.</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="form-label" for="businessVertical">Business vertical</label>
                                <div class="input-group has-validation">
                                    <select class="form-select" id="businessVertical" name="businessVertical" required>
                                        <option selected disabled value="">Choose...</option>
                                        <% for (let vertical of businessVerticals) { %>
                                        <option value="<%= vertical %>"><%= vertical %></option>
                                        <% } %>
                                    </select>
                                    <div class="invalid-feedback">Please make a selection.</div>
                                </div>
                                <div class="form-text">Please select the most suitable industry related to the bidding company</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h2>Contact details</h2>
                                <p>Complete the details about your contact within the bidding organization.</p>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="form-label" for="contactName">Main customer contact</label>
                                <input class="form-control" type="text" id="contactName" name="contactName" required>
                                <div class="form-text">What is the name of your key contact?</div>
                                <div class="invalid-feedback">Please fill this field.</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="form-label" for="contactJobTitle">Contact Job Title</label>
                                <input class="form-control" type="text" id="contactJobTitle" name="contactJobTitle" required>
                                <div class="form-text">What is the position of your contact within the bidding company?</div>
                                <div class="invalid-feedback">Please fill this field.</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="form-label" for="contactEmail">Contact email</label>
                                <input class="form-control" type="email" id="contactEmail" name="contactEmail" required>
                                <div class="form-text">What is the email address of your contact within the bidding company?</div>
                                <div class="invalid-feedback">Please fill this field.</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="form-label" for="decisionMaker">Decision Maker</label>
                                <div class="input-group has-validation">
                                    <select class="form-select" id="decisionMaker" name="decisionMaker" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                        <option value="partly">Partly</option>
                                    </select>
                                    <div class="invalid-feedback">Please make a selection.</div>
                                </div>
                                <div class="form-text">Is your main contact the decision maker in scope of the tender award?</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile needs-validation">
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h2>Transport modes & volumes</h2>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4 d-flex align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input transportModeBox" id="hasAirFreight" type="checkbox" value="hasAirFreight" name="transportMode" <% if (preadviseTender) { %><% if(preadviseTender.transportMode.includes("hasAirFreight")) {%>checked<% } } %> required>
                                        <label class="form-check-label" for="hasAirFreight">Air freight</label>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <div class="input-group">
                                        <input type="number" class="form-control transportModeVolume" id="airFreightVol" name="airFreightVol" placeholder="Air volumes in Tons" aria-label="Air freight volumes in Tons" min="1" <% if (preadviseTender && preadviseTender.airFreightVolume) { %>value="<%= preadviseTender.airFreightVolume %>"<% } %> required>
                                        <span class="input-group-text">Tons</span>
                                        <span class="input-group-text"><i>(estimated)</i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4 d-flex align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input transportModeBox" id="hasSeaFreightFCL" type="checkbox" value="hasSeaFreightFCL" name="transportMode" <% if (preadviseTender) { %><% if(preadviseTender.transportMode.includes("hasSeaFreightFCL")) {%>checked<% } } %> required>
                                        <label class="form-check-label" for="hasSeaFreightFCL">Sea freight FCL</label>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <div class="input-group">
                                        <input type="number" class="form-control transportModeVolume" id="seaFreightFCLVol" name="seaFreightFCLVol" placeholder="FCL volumes in TEUs" aria-label="FCL volumes in TEUs" min="1" <% if (preadviseTender && preadviseTender.seaFreightFCLVolume) { %>value="<%= preadviseTender.seaFreightFCLVolume %>"<% } %> required>
                                        <span class="input-group-text">TEUs</span>
                                        <span class="input-group-text"><i>(estimated)</i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4 d-flex align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input transportModeBox" id="hasSeaFreightLCL" type="checkbox" value="hasSeaFreightLCL" name="transportMode" <% if (preadviseTender) { %><% if(preadviseTender.transportMode.includes("hasSeaFreightLCL")) {%>checked<% } } %> required>
                                        <label class="form-check-label" for="hasSeaFreightLCL">Sea freight LCL</label>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <div class="input-group">
                                        <input type="number" class="form-control transportModeVolume" id="seaFreightLCLVol" name="seaFreightLCLVol" placeholder="LCL volumes in CBMs" aria-label="LCL volumes in CBMs" min="1" <% if (preadviseTender && preadviseTender.seaFreightLCLVolume) { %>value="<%= preadviseTender.seaFreightLCLVolume %>"<% } %> required>
                                        <span class="input-group-text">CBMs</span>
                                        <span class="input-group-text"><i>(estimated)</i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4 d-flex align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input transportModeBox" id="hasRailFreight" type="checkbox" value="hasRailFreight" name="transportMode" <% if (preadviseTender) { %><% if(preadviseTender.transportMode.includes("hasRailFreight")) {%>checked<% } } %> required>
                                        <label class="form-check-label" for="hasRailFreight">Rail freight</label>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <div class="input-group">
                                        <input type="number" class="form-control transportModeVolume" id="railFreightVol" name="railFreightVol" placeholder="Rail volumes in TEUs" aria-label="Rail volumes in TEUs" min="1" <% if (preadviseTender && preadviseTender.railFreightVolume) { %>value="<%= preadviseTender.railFreightVolume %>"<% } %> required>
                                        <span class="input-group-text">TEUs</span>
                                        <span class="input-group-text"><i>(estimated)</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h2>Commodity & transportation requirements</h2>
                            </div>
                            <div class="col-12 mb-3">
                                <div>
                                    <label class="form-label" for="commodity">Commodity description</label>
                                    <input class="form-control" type="text" id="commodity" name="commodity" required>
                                    <div class="form-text">Provide a description of the goods transported by the bidding company</div>
                                    <div class="invalid-feedback">Please fill this field.</div>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <h3 class="fs-4">Is there any special transportation requirements ?</h3>
                            </div>
                            <div class="col-6">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" id="dangerousGoods" type="checkbox" value="dangerousGoods" name="specialHandling">
                                    <label class="form-check-label" for="dangerousGoods">Dangerous goods</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" id="pharmaGoods" type="checkbox" value="pharmaGoods" name="specialHandling">
                                    <label class="form-check-label" for="pharmaGoods">Pharma goods</label>
                                </div>
                            </div>
                            <div class="col-6">          
                                <div class="form-check mb-2">
                                    <input class="form-check-input" id="coldChain" type="checkbox" value="coldChain" name="specialHandling">
                                    <label class="form-check-label" for="coldChain">Cold chain</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" id="timeCritical" type="checkbox" value="timeCritical" name="specialHandling">
                                    <label class="form-check-label" for="timeCritical">Time critical</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile needs-validation mb-5">
                <div class="row justify-content-md-start mb-5">
                    <div class="col-12 mb-3">
                        <h2>Timeline</h2>
                    </div>
                    <div class="col-12 mb-3">
                        <h3>RFI</h3>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="linkedRFI">Is there an RFI related to this tender?</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="linkedRFI" name="linkedRFI" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">Please make a selection.</div>
                    </div>
                    <div class="col-12 col-md-6" id="opt_deadlineRFI">
                        <label class="form-label" for="deadlineRFI">RFI submission deadline</label>
                        <input class="form-control bg-body" id="deadlineRFI" name="deadlineRFI" required/>
                        <!-- <input class="form-control" type="date" id="deadlineRFI" name="deadlineRFI" required> -->
                        <div class="invalid-feedback">Please fill this field.</div>
                    </div>
                    <div class="col-12 my-3">
                        <h3>RFQ</h3>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="receptionDate">Reception date</label>
                        <input class="form-control bg-body" id="receptionDate" name="receptionDate" required/>
                        <!-- <input class="form-control" type="date" id="receptionDate" name="receptionDate" required> -->
                        <div class="form-text">When did you receive the tender?</div>
                        <div class="invalid-feedback">Please fill this field.</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="deadlineRFQ">RFQ submission deadline</label>
                        <input class="form-control bg-body" id="deadlineRFQ" name="deadlineRFQ" required/>
                        <!-- <input class="form-control" type="date" id="deadlineRFQ" name="deadlineRFQ" required> -->
                        <div class="form-text">When does the RFQ need to be submitted at the latest</div>
                        <div class="invalid-feedback">Please fill this field.</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="decisionDate">Date of decision</label>
                        <input class="form-control bg-body" id="decisionDate" name="decisionDate" required/>
                        <!-- <input class="form-control" type="date" id="decisionDate" name="decisionDate" required> -->
                        <div class="form-text">When is the bidding company expected to deliver awards to the participants?</div>
                        <div class="invalid-feedback">Please fill this field.</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="startBusinessDate">Start of the business</label>
                        <input class="form-control bg-body" id="startBusinessDate" name="startBusinessDate" required/>
                        <!-- <input class="form-control" type="date" id="startBusinessDate" name="startBusinessDate" required> -->
                        <div class="form-text">When is the bidding company expected to start the business with the awarded participants?</div>
                        <div class="invalid-feedback">Please fill this field.</div>
                    </div>
                </div>
            </div>
            <div class="tile needs-validation">
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 mb-3">
                        <h2>Tradelanes information</h2>
                    </div>
                    <div class="col-12 mb-3">
                        <p>Use the table below to select the tradelanes related to this tender.</p>
                        <table class="table text-center">
                            <thead>
                                <tr>
                                <th scope="col"></th>
                                <th scope="col">To Africa</th>
                                <th scope="col">To Americas</th>
                                <th scope="col">To Asia</th>
                                <th scope="col">To Europe</th>
                                <th scope="col">To Oceania</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">From Africa</th>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="africaToAfrica" name="keyTradelanes" value="africaToAfrica" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("africaToAfrica")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="africaToAmericas" name="keyTradelanes" value="africaToAmericas" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("africaToAmericas")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="africaToAsia" name="keyTradelanes" value="africaToAsia" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("africaToAsia")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="africaToEurope" name="keyTradelanes" value="africaToEurope" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("africaToEurope")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="africaToOceania" name="keyTradelanes" value="africaToOceania" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("africaToOceania")) {%>checked<% } } %> required></td>
                                </tr>
                                <tr>
                                <th scope="row">From Americas</th>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="americasToAfrica" name="keyTradelanes" value="americasToAfrica" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("americasToAfrica")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="americasToAmericas" name="keyTradelanes" value="americasToAmericas" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("americasToAmericas")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="americasToAsia" name="keyTradelanes" value="americasToAsia" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("americasToAsia")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="americasToEurope" name="keyTradelanes" value="americasToEurope" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("americasToEurope")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="americasToOceania" name="keyTradelanes" value="americasToOceania" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("americasToOceania")) {%>checked<% } } %> required></td>
                                </tr>
                                <tr>
                                <th scope="row">From Asia</th>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="asiaToAfrica" name="keyTradelanes" value="asiaToAfrica" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("asiaToAfrica")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="asiaToAmericas" name="keyTradelanes" value="asiaToAmericas" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("asiaToAmericas")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="asiaToAsia" name="keyTradelanes" value="asiaToAsia" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("asiaToAsia")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="asiaToEurope" name="keyTradelanes" value="asiaToEurope" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("asiaToEurope")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="asiaToOceania" name="keyTradelanes" value="asiaToOceania" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("asiaToOceania")) {%>checked<% } } %> required></td>
                                </tr>
                                <tr>
                                <th scope="row">From Europe</th>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="europeToAfrica" name="keyTradelanes" value="europeToAfrica" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("europeToAfrica")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="europeToAmericas" name="keyTradelanes" value="europeToAmericas" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("europeToAmericas")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="europeToAsia" name="keyTradelanes" value="europeToAsia" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("europeToAsia")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="europeToEurope" name="keyTradelanes" value="europeToEurope" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("europeToEurope")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="europeToOceania" name="keyTradelanes" value="europeToOceania" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("europeToOceania")) {%>checked<% } } %> required></td>
                                </tr>
                                <tr>
                                <th scope="row">From Oceania</th>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="oceaniaToAfrica" name="keyTradelanes" value="oceaniaToAfrica" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("oceaniaToAfrica")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="oceaniaToAmericas" name="keyTradelanes" value="oceaniaToAmericas" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("oceaniaToAmericas")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="oceaniaToAsia" name="keyTradelanes" value="oceaniaToAsia" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("oceaniaToAsia")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="oceaniaToEurope" name="keyTradelanes" value="oceaniaToEurope" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("oceaniaToEurope")) {%>checked<% } } %> required></td>
                                <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="oceaniaToOceania" name="keyTradelanes" value="oceaniaToOceania" <% if (preadviseTender) { %><% if(preadviseTender.keyTradelanes.includes("oceaniaToOceania")) {%>checked<% } } %> required></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 mb-3">
                        <h2>Lanes & Transport scope</h2>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <h4>Lanes</h4>
                            <div>
                                <label class="form-label" for="lanesAmount">Amount of lanes</label>
                                <input class="form-control" type="number" id="lanesAmount" name="lanesAmount" min="1" required>
                                <div class="form-text">Enter the number of lanes contained in this tender.</div>
                                <div class="invalid-feedback">Please fill this field.</div>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <h4>Transport scope</h4>
                        <p>Select the transportation scopes related to the lanes of this tender.</p>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" id="dtod" type="checkbox" value="dtod" name="transportationScope"  required>
                                    <label class="form-check-label" for="dtod">Door to Door</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" id="dtop" type="checkbox" value="dtop" name="transportationScope"  required>
                                    <label class="form-check-label" for="dtop">Door to Port</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" id="ptop" type="checkbox" value="ptop" name="transportationScope"  required>
                                    <label class="form-check-label" for="ptop">Port to Port</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" id="ptod" type="checkbox" value="ptod" name="transportationScope"  required>
                                    <label class="form-check-label" for="ptod">Port to Door</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile needs-validation">
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 mb-3">
                        <h2>Tender details</h2>
                    </div>
                    <div class="col-12 mb-1">
                        <h3>Rates validity</h3>
                        <p>For each transportation mode, use the fields below to select the rates validity requested by the bidding company.</p>
                    </div>
                    <div class="col-12 col-md mb-3" id="opt_ratesValidityAir">
                        <label class="form-label" for="ratesValidityAir">Air freight</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="ratesValidityAir" name="ratesValidityAir" >
                                <option selected disabled value="">Choose...</option>
                                <option value="1">1 month validity</option>
                                <option value="3">3 months validity</option>
                                <option value="6">6 months validity</option>
                                <option value="12">12 months validity</option>
                                <option value="18">18 months validity</option>
                                <option value="24">24 months validity</option>
                            </select>
                            <div class="invalid-feedback">Please make a selection.</div>
                        </div>
                    </div>
                    <div class="col-12 col-md mb-3" id="opt_ratesValidityFCL">
                        <label class="form-label" for="ratesValidityFCL">Sea freight FCL</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="ratesValidityFCL" name="ratesValidityFCL" >
                                <option selected disabled value="">Choose...</option>
                                <option value="1">1 month validity</option>
                                <option value="3">3 months validity</option>
                                <option value="6">6 months validity</option>
                                <option value="12">12 months validity</option>
                                <option value="18">18 months validity</option>
                                <option value="24">24 months validity</option>
                            </select>
                            <div class="invalid-feedback">Please make a selection.</div>
                        </div>
                    </div>
                    <div class="col-12 col-md mb-3" id="opt_ratesValidityLCL">
                        <label class="form-label" for="ratesValidityLCL">Sea freight LCL</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="ratesValidityLCL" name="ratesValidityLCL" >
                                <option selected disabled value="">Choose...</option>
                                <option value="1">1 month validity</option>
                                <option value="3">3 months validity</option>
                                <option value="6">6 months validity</option>
                                <option value="12">12 months validity</option>
                                <option value="18">18 months validity</option>
                                <option value="24">24 months validity</option>
                            </select>
                            <div class="invalid-feedback">Please make a selection.</div>
                        </div>
                    </div>
                    <div class="col-12 col-md mb-3" id="opt_ratesValidityRail">
                        <label class="form-label" for="ratesValidityRail">Rail freight</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="ratesValidityRail" name="ratesValidityRail" >
                                <option selected disabled value="">Choose...</option>
                                <option value="1">1 month validity</option>
                                <option value="3">3 months validity</option>
                                <option value="6">6 months validity</option>
                                <option value="12">12 months validity</option>
                                <option value="18">18 months validity</option>
                                <option value="24">24 months validity</option>
                            </select>
                            <div class="invalid-feedback">Please make a selection.</div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="col-12 mb-3">
                                    <h3>Contract period</h3>
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label" for="contractPeriod">What is the contract period?</label>
                                    <div class="input-group has-validation">
                                        <select class="form-select" id="contractPeriod" name="contractPeriod" required>
                                            <option selected disabled value="">Choose...</option>
                                            <option value="1">1 month validity</option>
                                            <option value="3">3 months validity</option>
                                            <option value="6">6 months validity</option>
                                            <option value="12">12 months validity</option>
                                            <option value="18">18 months validity</option>
                                            <option value="24">24 months validity</option>
                                        </select>
                                        <div class="invalid-feedback">Please make a selection.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12 mb-3">
                                    <h3>Payment terms</h3>
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label" for="paymentTerms">What are the terms of payment, excl. duty & taxes?</label>
                                    <div class="input-group has-validation">
                                        <select class="form-select" id="paymentTerms" name="paymentTerms" required>
                                            <option selected disabled value="">Choose...</option>
                                            <option value="0.5">15 days</option>
                                            <option value="1">30 days</option>
                                            <option value="1.5">45 days</option>
                                            <option value="2">60 days</option>
                                            <option value="3">90 days</option>
                                            <option value="6">180 days</option>
                                        </select>
                                        <div class="invalid-feedback">Please make a selection.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="col-12 mb-3">
                                    <h3>Bidding restrictions</h3>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <div class="form-check">
                                                <input class="form-check-input" id="noRestriction" type="radio" value="noRestriction" name="bidRestrictions" required>
                                                <label class="form-check-label" for="noRestriction">No restrictions (Cherry picking allowed)</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" id="allLanesQuoted" type="radio" value="allLanesQuoted" name="bidRestrictions" required>
                                                <label class="form-check-label" for="allLanesQuoted">All lanes must be quoted</label>
                                            </div>
                                        <!-- </div> -->
                                        <!-- <div class="col-12 col-md-6"> -->
                                            <div class="form-check">
                                                <input class="form-check-input" id="countryLanesQuoted" type="radio" value="countryLanesQuoted" name="bidRestrictions" required>
                                                <label class="form-check-label" for="countryLanesQuoted">Lanes per country must be quoted</label>
                                            </div>
                                        <!-- </div> -->
                                        <!-- <div class="col-12 col-md-6"> -->
                                            <div class="form-check">
                                                <input class="form-check-input" id="regionLanesQuoted" type="radio" value="regionLanesQuoted" name="bidRestrictions" required>
                                                <label class="form-check-label" for="regionLanesQuoted">Lanes per region must be quoted</label>
                                            </div>
                                        <!-- </div> -->
                                        <!-- <div class="col-12 col-md-6"> -->
                                            <div class="form-check">
                                                <input class="form-check-input" id="trspModeLanesQuoted" type="radio" value="trspModeLanesQuoted" name="bidRestrictions" required>
                                                <label class="form-check-label" for="trspModeLanesQuoted">Lanes per transport mode must be quoted</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12 mb-3">
                                    <h3>Special requirements</h3>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <div class="form-check">
                                                <input class="form-check-input" id="noRequirement" type="checkbox" value="noRequirement" name="bidRequirements">
                                                <label class="form-check-label" for="noRequirement">No requirement</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" id="trackTrace" type="checkbox" value="trackTrace" name="bidRequirements">
                                                <label class="form-check-label" for="trackTrace">Track & Trace</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" id="docsMgmt" type="checkbox" value="docsMgmt" name="bidRequirements">
                                                <label class="form-check-label" for="docsMgmt">Documents management</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" id="basicReports" type="checkbox" value="basicReports" name="bidRequirements">
                                                <label class="form-check-label" for="basicReports">Basic reporting</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" id="leadTimeReports" type="checkbox" value="leadTimeReports" name="bidRequirements">
                                                <label class="form-check-label" for="leadTimeReports">Lead Time reporting</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" id="ediConnection" type="checkbox" value="ediConnection" name="bidRequirements">
                                                <label class="form-check-label" for="ediConnection">EDI</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" id="orderManagement" type="checkbox" value="orderManagement" name="bidRequirements">
                                                <label class="form-check-label" for="orderManagement">Order management</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" id="controlTower" type="checkbox" value="controlTower" name="bidRequirements">
                                                <label class="form-check-label" for="controlTower">Control tower</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <h3>Tender organization</h3>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="roundsAmount">How many rounds are there in this tender?</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control transportModeVolume" id="roundsAmount" name="roundsAmount" placeholder="Number of rounds" aria-label="Number of rounds in the tender" required>
                            <span class="input-group-text">round(s)</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="tenderLaunchMethod">How was this tender launched?</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="tenderLaunchMethod" name="tenderLaunchMethod" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="email">By email</option>
                                <option value="tiContract">By TI-Contract</option>
                                <option value="otherPlatform">With another bidding tool</option>
                                <option value="unknown">Unknown</option>
                            </select>
                            <div class="invalid-feedback">Please make a selection.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile needs-validation">
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 mb-3">
                        <h2>Rhenus relashionship & Competition</h2>
                    </div>
                    <div class="col-12 mb-3">
                        <h3>Relationship</h3>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <h4>Existing Customer Rhenus Group</h4>
                        <p>Is the tendering company an existing customer to the Rhenus Group (locally or globally) ?</p>
                        <div class="container mb-3">
                            <div class="form-check mb-3">
                                <input class="form-check-input historyBox" id="historyAirOcean" type="checkbox" value="historyAirOcean" name="history" <% if (preadviseTender) { %><% if(preadviseTender.history.includes("historyAirOcean")) {%>checked<% } } %> required>
                                <label class="form-check-label" for="historyAirOcean">Yes - Rhenus Air & Ocean</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input historyBox" id="historyRoadFreight" type="checkbox" value="historyRoadFreight" name="history" <% if (preadviseTender) { %><% if(preadviseTender.history.includes("historyRoadFreight")) {%>checked<% } } %> required>
                                <label class="form-check-label" for="historyRoadFreight">Yes - Rhenus Road</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input historyBox" id="historyContractLog" type="checkbox" value="historyContractLog" name="history" <% if (preadviseTender) { %><% if(preadviseTender.history.includes("historyContractLog")) {%>checked<% } } %> required>
                                <label class="form-check-label" for="historyContractLog">Yes - Rhenus Contract Logistics</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input historyBox" id="historyPortLog" type="checkbox" value="historyPortLog" name="history" <% if (preadviseTender) { %><% if(preadviseTender.history.includes("historyPortLog")) {%>checked<% } } %> required>
                                <label class="form-check-label" for="historyPortLog">Yes - Rhenus Port Logistics</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input historyBox" id="historyNone" type="checkbox" value="historyNone" name="history" <% if (preadviseTender) { %><% if(preadviseTender.history.includes("historyNone")) {%>checked<% } } %> required>
                                <label class="form-check-label" for="historyNone">No history</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <h4>Rhenus Air & Ocean history</h4>
                        <p>If existing customer in Air & Ocean, please choose from the segmentation below (only estimate):</p>
                        <div class="container mb-5">
                            <div class="form-check mb-3">
                                <input class="form-check-input customerSegment" id="segmentA" type="radio" value="A-customer" name="existingCustomerSegment" <% if (preadviseTender && preadviseTender.existingCustomerSegment === "A-customer") { %>checked<% } %> >
                                <label class="form-check-label" for="segmentA">A-customer: > 100 K€ gross profit p. a.</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input customerSegment" id="segmentB" type="radio" value="B-customer" name="existingCustomerSegment" <% if (preadviseTender && preadviseTender.existingCustomerSegment === "B-customer") { %>checked<% } %> >
                                <label class="form-check-label" for="segmentB">B-customer: > 50 K€ gross profit p. a.</label>
                            </div>                
                            <div class="form-check">
                                <input class="form-check-input customerSegment" id="segmentC" type="radio" value="C-customer" name="existingCustomerSegment" <% if (preadviseTender && preadviseTender.existingCustomerSegment === "C-customer") { %>checked<% } %> >
                                <label class="form-check-label" for="segmentC">C-customer: > 10 K€ gross profit p. a.</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="visitFrequency">How often do you meet the customer personally and/or virtually?</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="visitFrequency" name="visitFrequency" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                                <option value="quarterly">Quaterly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">Please make a selection.</div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="visitHistory">Since when do you (or we as Rhenus) visit the prospect / customer?</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="visitHistory" name="visitHistory" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="less6months">Less than 6 months</option>
                                <option value="6to12months">Between 6 to 12 months</option>
                                <option value="1to2years">Between 1 to 2 years</option>
                                <option value="more2years">More than 2 years</option>
                                <option value="more5years">More than 5 years</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">Please make a selection.</div>
                    </div>
                    <div class="col-12 mb-3">
                        <h3>Competition</h3>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="currentServiceProvider">Current service provider</label>
                        <input class="form-control" type="text" id="currentServiceProvider" name="currentServiceProvider" required>
                        <div class="form-text">Which company is the current service provider</div>
                        <div class="invalid-feedback">Please fill this field.</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="competitorAmount">How many competitors are potentially participating?</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="competitorAmount" name="competitorAmount" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="1to3">1 to 3 competitors</option>
                                <option value="4to6">4 to 6 competitors</option>
                                <option value="7to10">7 to 10 competitors</option>
                                <option value="more10">More than 10 competitors</option>
                                <option value="unknown">Unknown</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">Please make a selection.</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="volumeSplit">How many forwarders may be awarded?</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="volumeSplit" name="volumeSplit" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="1">1 single forwarder</option>
                                <option value="1to2">1 to 2 forwarders</option>
                                <option value="2to3">2 to 3 forwarders</option>
                                <option value="more3">More than 3 forwarders</option>
                                <option value="unknown">Unknown</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">Please make a selection.</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="reasonForTender">From the bidding company perspective, what is the main reason for launching a tender?</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="reasonForTender" name="reasonForTender" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="contractEnd">Periodic Tender / Contract expires</option>
                                <option value="supplierChange">Change in service Provider</option>
                                <option value="supplierProblem">Particular issue/problem with service provider</option>
                                <option value="benchmark">Benchmark</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">Please make a selection.</div>
                    </div>
                </div>
            </div>
            <div class="tile needs-validation">
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 mb-3">
                        <h2>Decision making process</h2>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="decisionCritera">What is the most important decision criteria in this tender?</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="decisionCritera" name="decisionCritera" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="price">Price competitiveness</option>
                                <option value="history">History with the company</option>
                                <option value="allLanes">Ability to answer to all lanes</option>
                                <option value="extendedOffer">Ability to provide an extended offer</option>
                                <option value="unknown">Unknown</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">Please make a selection.</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="feedbackAvailable">Will Rhenus receive a detailed feedback?</label>
                        <div class="input-group has-validation">
                            <select class="form-select" id="feedbackAvailable" name="feedbackAvailable" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                                <option value="unknown">Unknown</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">Please make a selection.</div>
                    </div>
                    <div class="col-12 mb-3">
                        <p>Please give a short explanation of the potential of an award</p>
                        <textarea class="form-control" id="potential" name="potential" rows="3" required></textarea>
                    </div>
                </div>
            </div>
            <div class="tile needs-validation">
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12 mb-3">
                        <h2>Document upload</h2>
                    </div>
                    <div class="col-12">
                        <p>
                            Feel free to upload documents such as the bidding sheet, tender documentation or else.<br>
                            Documents will be reviewed by the tender team.<br>
                            <small>Files allowed are: .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, OpenDocument formats and images</small>
                        </p>
                        <div class="row justify-content-md-center">
                            <div class="col-12 px-3">
                                <label for="fileUpload" class="form-label">Upload</label>
                                <input class="form-control" type="file" id="fileUpload" name="fileUpload" multiple>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile needs-validation">
                <div class="row justify-content-md-center mb-5">
                    <div class="col-12">
                        <h2>Additional Comments</h2>
                    </div>
                    <div class="col-12">
                        <p>Please feel free to share any comments that may be helpul for the tender team</p>
                        <div class="row justify-content-md-center">
                            <div class="col-12 px-3">
                                <textarea class="form-control" id="additionalComment" name="additionalComment" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary" id="confirmBtn">Confirm</button>
                </div>
            </div>
        </form>
    </div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel">Confirmation</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>You are about to register a new tender.</strong> All of your tender team colleagues are going to review the information submitted. Take a few minutes to check the information below and ammend it if necessary.<br>
                    Once everything is OK, you can submit your tender.
                </p>
                <hr>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12">
                        <h5>Data</h5>
                    </div>
                </div>  
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Registration from:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_countryLocation"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Following a pre-advise:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span class="me-2" id="mod_isPreadvised"></span>
                    </div>
                    <div class="col-12 col-md-8 offset-md-4">
                       <span class="font-monospace text-muted" id="mod_preadviseID"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Sugar ID:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_sugarID"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Company name:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_companyName"></span>
                    </div>
                    <div class="col-12 col-md-8 offset-md-4">
                        <i><span id="mod_businessVertical"></span></i>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Reason for the tender:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_reasonForTender"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-4 mb-2">
                    <div class="col-12">
                        <h5>Contact & history</h5>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>History with Rhenus:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_rhenusHistory"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Customer segment:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_existingCustomerSegment"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Visit frequency:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_visitFrequency"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Visit history:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_visitHistory"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Contact person:</strong></span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span id="mod_contactName"></span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span class="me-2"><strong>Decision maker:</strong></span><span id="mod_decisionMaker"></span>
                    </div>
                    <div class="col-12 col-md-8 offset-md-4">
                        <i><span id="mod_contactJobTitle"></span></i>
                    </div>
                    <div class="col-12 col-md-8 offset-md-4">
                        <i><span id="mod_contactEmail"></span></i>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-4 mb-2">
                    <div class="col-12">
                        <h5>Tender details</h5>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Tender reception date:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_receptionDate"></span>
                    </div>
                    <div class="col-12 col-md-8 offset-md-4">
                        <i><span id="mod_tenderLaunchMethod"></span></i>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Tender deadline:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_deadlineRFQ"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>RFI:</strong></span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span class="me-2" id="mod_linkedRFI"></span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span class="me-2"><strong>RFI deadline:</strong></span><span id="mod_deadlineRFI"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Decision date:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_decisionDate"></span>
                    </div>
                    <div class="col-12 col-md-8 offset-md-4">
                        <span id="mod_decisionCritera"></span>
                    </div>
                    <div class="col-12 col-md-8 offset-md-4">
                        <span id="mod_feedbackAvailable"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Business start date:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_startBusinessDate"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-4 mb-2">
                    <div class="col-12">
                        <h5>Competition</h5>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Current service provider:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_currentServiceProvider"></span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span><strong>Number of competitors:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_competitorAmount"></span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span><strong>Volume split</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_volumeSplit"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-4 mb-2">
                    <div class="col-12">
                        <h5>Transport mode, volumes & cargo</h5>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12 col-md-4">
                        <span><strong>Commodity:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_commodity"></span>
                    </div>
                    <div class="col-12 col-md-8 offset-md-4">
                        <i><span id="mod_specialHandling"></span></i>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12">
                        <table class="table table-sm mb-4">
                            <thead>
                                <tr>
                                    <th scope="col" width="50%">Transport scope</th>
                                    <th scope="col" width="50%">In scope</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Door to Door</th>
                                    <td id="mod_dtod"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Door to Port</th>
                                    <td id="mod_dtop"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Port to Port</th>
                                    <td id="mod_ptop"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Port to Door</th>
                                    <td id="mod_ptod"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-md-6">
                        <table class="table table-sm mb-4">
                            <thead>
                                <tr>
                                    <th scope="col" width="75%">Restrictions</th>
                                    <th scope="col" width="25%">In scope</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">No restrictions</th>
                                    <td id="mod_noRestriction"></td>
                                </tr>
                                <tr>
                                    <th scope="row">All lanes quoted</th>
                                    <td id="mod_allLanesQuoted"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Lanes per country quoted</th>
                                    <td id="mod_countryLanesQuoted"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Lanes per region quoted</th>
                                    <td id="mod_regionLanesQuoted"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Lanes per transport mode quoted</th>
                                    <td id="mod_trspModeLanesQuoted"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-md-6">
                        <table class="table table-sm mb-4">
                            <thead>
                                <tr>
                                    <th scope="col">Requirements</th>
                                    <th scope="col">In scope</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">No requirements</th>
                                    <td id="mod_noRequirement"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Track & Trace</th>
                                    <td id="mod_trackTrace"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Documents Management</th>
                                    <td id="mod_docsMgmt"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Basic reporting</th>
                                    <td id="mod_basicReports"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Lead time reporting</th>
                                    <td id="mod_leadTimeReports"></td>
                                </tr>
                                <tr>
                                    <th scope="row">EDI connection</th>
                                    <td id="mod_ediConnection"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Order management</th>
                                    <td id="mod_orderManagement"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Control tower</th>
                                    <td id="mod_controlTower"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-2">
                    <div class="col-12">
                        <table class="table table-sm mb-4">
                            <thead>
                            <tr>
                                <th scope="col" width="25%">Mode</th>
                                <th scope="col" width="25%">In scope</th>
                                <th scope="col" width="25%">Volumes</th>
                                <th scope="col" width="25%">Validity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Air freight</th>
                                <td id="mod_hasAirFreight"></td>
                                <td id="mod_airFreightVol"></td>
                                <td id="mod_ratesValidityAir"></td>
                            </tr>
                            <tr>
                                <th scope="row">Sea freight FCL</th>
                                <td id="mod_hasSeaFreightFCL"></td>
                                <td id="mod_seaFreightFCLVol"></td>
                                <td id="mod_ratesValidityFCL"></td>
                            </tr>
                            <tr>
                                <th scope="row">Sea freight LCL</th>
                                <td id="mod_hasSeaFreightLCL"></td>
                                <td id="mod_seaFreightLCLVol"></td>
                                <td id="mod_ratesValidityLCL"></td>
                            </tr>
                            <tr>
                                <th scope="row">Rail freight</th>
                                <td id="mod_hasRailFreight"></td>
                                <td id="mod_railFreightVol"></td>
                                <td id="mod_ratesValidityRail"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <strong>Key tradelanes:</strong><span id="mod_keyTradelanes"></span><br>
                        <table class="table table-sm mb-4">
                            <thead>
                                <tr>
                                <th scope="col" width="16.66%"></th>
                                <th scope="col" width="16.66%">To Africa</th>
                                <th scope="col" width="16.66%">To Americas</th>
                                <th scope="col" width="16.66%">To Asia</th>
                                <th scope="col" width="16.66%">To Europe</th>
                                <th scope="col" width="16.66%">To Oceania</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">From Africa</th>
                                <td><span id="mod_africaToAfrica"></span></td>
                                <td><span id="mod_africaToAmericas"></span></td>
                                <td><span id="mod_africaToAsia"></span></td>
                                <td><span id="mod_africaToEurope"></span></td>
                                <td><span id="mod_africaToOceania"></span></td>
                                </tr>
                                <tr>
                                <th scope="row">From Americas</th>
                                <td><span id="mod_americasToAfrica"></span></td>
                                <td><span id="mod_americasToAmericas"></span></td>
                                <td><span id="mod_americasToAsia"></span></td>
                                <td><span id="mod_americasToEurope"></span></td>
                                <td><span id="mod_americasToOceania"></span></td>
                                </tr>
                                <tr>
                                <th scope="row">From Asia</th>
                                <td><span id="mod_asiaToAfrica"></span></td>
                                <td><span id="mod_asiaToAmericas"></span></td>
                                <td><span id="mod_asiaToAsia"></span></td>
                                <td><span id="mod_asiaToEurope"></span></td>
                                <td><span id="mod_asiaToOceania"></span></td>
                                </tr>
                                <tr>
                                <th scope="row">From Europe</th>
                                <td><span id="mod_europeToAfrica"></span></td>
                                <td><span id="mod_europeToAmericas"></span></td>
                                <td><span id="mod_europeToAsia"></span></td>
                                <td><span id="mod_europeToEurope"></span></td>
                                <td><span id="mod_europeToOceania"></span></td>
                                </tr>
                                <tr>
                                <th scope="row">From Oceania</th>
                                <td><span id="mod_oceaniaToAfrica"></span></td>
                                <td><span id="mod_oceaniaToAmericas"></span></td>
                                <td><span id="mod_oceaniaToAsia"></span></td>
                                <td><span id="mod_oceaniaToEurope"></span></td>
                                <td><span id="mod_oceaniaToOceania"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-4 mb-2">
                    <div class="col-12 mb-2">
                        <h5>Attachements</h5>
                    </div>
                    <div class="col-12 col-md-4">
                        <span><strong>Documents:</strong></span>
                    </div>
                    <div class="col-12 col-md-8">
                        <span id="mod_fileUpload"></span>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-4 mb-2">
                    <div class="col-12 mb-2">
                        <h5>Comments</h5>
                    </div>
                    <div class="col-12 mb-2">
                        <strong>Commercial potential:</strong><br>
                        <span id="mod_potential"></span>
                    </div>
                    <div class="col-12">
                        <strong>Additional comments:</strong><br>
                        <span id="mod_additionalComment"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary position-relative top-50 start-0" id="mod_returnBtn" data-bs-dismiss="modal"><i class="bi bi-pencil-square me-2"></i>Change</button>
                <button type="submit" form="registerForm" class="btn btn-success position-relative top-50 end-0" id="mod_submitBtn"><i class="bi bi-send-check me-2"></i>Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="abortConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="abortConfirmModalLabel"><i class="twa twa-warning me-2"></i>Warning</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert">
              <% if (preadviseTender) { %>
                <strong>Are you sure you want to stop the conversion of the preadvise related to <i><%= preadviseTender.companyName %></i> ?</strong><br>
                All the data provided so far and documents uploaded (if any) will be not be considered.<br>
                The preadvise data related to <i><%= preadviseTender.companyName %></i> will not be converted in a tender registration and a new conversion process will need to be done from the start.
                <% } else { %>
                <strong>Are you sure you want to stop the registration of this tender ?</strong><br>
                All the data provided so far and documents uploaded (if any) will be not be considered.<br>
                A new registration will need to be done from the start.
                <% } %>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary position-relative top-50 start-0" id="mod_returnBtn" data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle me-2"></i>Cancel</button>
            <a href="<% if (preadviseTender) { %>/preadvise/<%= preadviseTender.id %><% } else { %>/register/start<% } %>" class="btn btn-outline-danger border-danger"><i class="bi bi-x-circle-fill me-2"></i>Abort</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/commonBootstrap.ejs") %>
<script src="/js/register_new.js"></script>
</body>
</html>