<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("../partials/commonStyles.ejs") %>
    <%- include("../partials/commonFonts.ejs") %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
</head>

<body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
<div class="container">
  <div class="row align-items-center my-3">
    <div class="col">
      <p><a class="btn btn-light btn-sm border" <% if (currentUser.isTenderTeam || currentUser.isUser) {%>href="/register/index"<% } else {%>href="/register/history"<% } %>><i class="bi bi-arrow-left-circle me-1"></i>Back</a></p>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-gear me-1"></i>Options</button>
    </div>
  </div>
    <div class="container mb-3">
    <h1><%= matchingTender.companyName %></h1>
    <h2>Tender registered</h2>
  </div>
  <div class="d-flex align-items-start sticky-top pt-3">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile & Status</button>
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-modes" type="button" role="tab" aria-controls="v-pills-modes" aria-selected="false">Modes & Vol.</button>
      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-details" type="button" role="tab" aria-controls="v-pills-details" aria-selected="false">Details</button>
      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-schedule" type="button" role="tab" aria-controls="v-pills-schedule" aria-selected="false">Schedule</button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-commercial" type="button" role="tab" aria-controls="v-pills-commercial" aria-selected="false">Commercial</button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-docs" type="button" role="tab" aria-controls="v-pills-docs" aria-selected="false">Docs & other</button>
    </div>
    <div class="tab-content flex-grow-1" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <div class="container ps-5">
          <div class="bs-stepper">
            <div class="bs-stepper-header" role="tablist">
              <!-- your steps here -->
              <div class="step px-2" <% if (matchingTender.preadvise) { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender was pre-advised"<% } else {%>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender was not pre-advised"<% } %>>
                <div role="tab">
                  <span class="bs-stepper-circle <% if (matchingTender.preadvise) { %>bg-success<% } else { %>bg-danger<% } %>">1</span>
                  <span class="bs-stepper-label">Preadvise</span>
                </div>
              </div>
              <div class="line"></div>
              <div class="step px-2" <% if (matchingTender.id) { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender is registered"<% } else { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender is not registered"<% } %>>
                <div role="tab">
                  <span class="bs-stepper-circle <% if (matchingTender.id) { %>bg-success<% } else { %>bg-light text-dark border border-secondary<% } %>">2</span>
                  <span class="bs-stepper-label">Registration</span>
                </div>
              </div>
              <div class="line"></div>
              <div class="step px-2" <% if (matchingTender.tenderTeamDecision === "accept") { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender team decided to participate"<% } else if (matchingTender.tenderTeamDecision === "decline") { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender team declined participation"<% } else {%>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender team participation is pending"<% } %>>
                <div role="tab">
                  <span class="bs-stepper-circle <% if (matchingTender.tenderTeamDecision === "accept") { %>bg-success<% } else if (matchingTender.tenderTeamDecision === "decline") { %>bg-danger<% } else {%>bg-light text-dark border border-secondary<% } %>">3</span>
                  <span class="bs-stepper-label">Participation</span>
                </div>
              </div>
              <div class="line"></div>
              <div class="step px-2" <% if (matchingTender.tenderTeamDecision === "accept" && matchingTender.isSubmitted) { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender submission is done"<% } else if (matchingTender.tenderTeamDecision === "decline") {%>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender submission will not occur"<% } else {%>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender submission is pending"<% } %>>
                <div role="tab">
                  <span class="bs-stepper-circle <% if (matchingTender.tenderTeamDecision === "accept" && matchingTender.isSubmitted) { %>bg-success<% } else if (matchingTender.tenderTeamDecision === "decline") {%>bg-danger<% } else { %>bg-light text-dark border border-secondary<% } %>">4</span>
                  <span class="bs-stepper-label">Submission</span>
                </div>
              </div>
              <div class="line"></div>
              <div class="step px-2" <% if ((matchingTender.outcome === "winAll" || matchingTender.outcome === "winPartly") && matchingTender.isSubmitted) { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Outcome is received and positive"<% } else if (matchingTender.outcome === "loose") {%>data-bs-toggle="tooltip" data-bs-placement="top" title="Outcome is received and negative"<% } else if (!matchingTender.tenderTeamDecision || (matchingTender.tenderTeamDecision === "accept" && !matchingTender.isSubmitted)) {%>data-bs-toggle="tooltip" data-bs-placement="top" title="No results yet"<% } else { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Results won't be received"<% } %>>
                <div role="tab">
                  <span class="bs-stepper-circle <% if ((matchingTender.outcome === "winAll" || matchingTender.outcome === "winPartly") && matchingTender.isSubmitted) { %>bg-success<% } else if (matchingTender.tenderTeamDecision === "decline" || matchingTender.outcome === "loose") {%>bg-danger<% } else {%>bg-light text-dark border border-secondary<% } %>">5</span>
                  <span class="bs-stepper-label">Outcome</span>
                </div>
              </div>
            </div>
          </div>
          <table class="table mt-5">
            <tbody>
              <tr>
                <th scope="row">Company name</th>
                <td><%= matchingTender.companyName %></td>
              </tr>
              <tr>
                <th scope="row">Country related</th>
                <td><% for (let country of countriesData) { if (country.cca2 === matchingTender.countryLocation) { %> <span><%=`${country.flag}`%></span><span class="font-monospace ms-2"><%=`${country.cca2}`%></span><%}}%></td>
              </tr>
              <tr>
                <th scope="row">Registered by</th>
                <td><% if (matchingTender.author) { %><%= matchingTender.author.email %><% } else { %><span data-bs-toggle="tooltip" data-bs-placement="top" title="Unusual value"><i class="twa twa-warning me-2"></i>Unknown user</span><% } %></td>
              </tr>
              <tr>
                <th scope="row">Registration date</th>
                <td><%= matchingTender.recordDate.getDate() %>-<%=monthsData[matchingTender.recordDate.getMonth() + 1]%>-<%=matchingTender.recordDate.getFullYear() %><br>
                <span class="font-monospace"><%= matchingTender.id %></span>
                <!-- Uncomment below to display the hour of registration -->
                <!-- at <%=matchingTender.recordDate.getHours()%>:<%=matchingTender.recordDate.getMinutes()%> -->
                </td>
              </tr>
              <tr>
                <th scope="row">Preadvised</th>
                <td><% if (matchingTender.preadvise) { %>Tender was preadvised<br><span class="font-monospace me-2"><%= matchingTender.preadvise.id %></span><% } else { %><span data-bs-toggle="tooltip" data-bs-placement="top" title="All tenders must be pre-advised"><i class="twa twa-warning me-2"></i>Tender was not preadvised</span><% } %></td>
              </tr>
              <tr>
                <th scope="row">Sugar ID</th>
                <td><span class="font-monospace"><%= matchingTender.sugarID %></span></td>
              </tr>
              <tr>
                <th scope="row">Business vertical</th>
                <td><%= matchingTender.businessVertical %></td>
              </tr>
              <tr>
                <th scope="row">Tender launch method</th>
                <td><%= matchingTender.tenderLaunchMethod %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-modes" role="tabpanel" aria-labelledby="v-pills-modes-tab">
        <div class="container ps-5">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Transport Mode</th>
                <td> <% for (i=0; i < matchingTender.transportMode.length; i++) { if (i!==matchingTender.transportMode.length -1){%><%=`${transportModes[matchingTender.transportMode[i]]}`%><br><% } else { %><%=`${transportModes[matchingTender.transportMode[i]]}`%><%} }%></td>
              </tr>
              <tr>
                <th scope="row">Transportation scope</th>
                <td>
                  <% for (i=0; i < matchingTender.transportationScope.length; i++) { if (i!==matchingTender.transportationScope.length -1){%><%=`${transportScope[matchingTender.transportationScope[i]]}`%><br><% } else { %><%=`${transportScope[matchingTender.transportationScope[i]]}`%><%} }%>
                </td>
              </tr>
              <tr>
                <th scope="row">Expected volumes</th>
                <td><% if (matchingTender.airFreightVolume) { %><%=`${(matchingTender.airFreightVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} Tons `%><br><%}%><% if (matchingTender.seaFreightFCLVolume) { %><%=`${(matchingTender.seaFreightFCLVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} TEUs `%><br><%}%><% if (matchingTender.seaFreightLCLVolume) { %><%=`${(matchingTender.seaFreightLCLVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} CBMs `%><br><%}%><% if (matchingTender.railFreightVolume) { %><%=`${(matchingTender.railFreightVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} TEUs `%><%}%></td>
              </tr>
              <tr>
                <th scope="row">Key Tradelanes</th>
                <td>
                  <% for (i=0; i < matchingTender.keyTradelanes.length; i++) { if (i!==matchingTender.keyTradelanes.length -1){%><%=`${tradelanes[matchingTender.keyTradelanes[i]]}`%><br><% } else { %><%=`${tradelanes[matchingTender.keyTradelanes[i]]}`%><%} }%>
                </td>
              </tr>
              <tr>
                <th scope="row">Number of lanes</th>
                <td><% if (matchingTender.lanesAmount > 1) {%><%= matchingTender.lanesAmount %> lanes<% } else { %><%= matchingTender.lanesAmount %> lane<% } %></td>
              </tr>
              <tr>
                <th scope="row">Volume split</th>
                <td><%= matchingTender.volumeSplit %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-details" role="tabpanel" aria-labelledby="v-pills-details-tab">
        <div class="container ps-5">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Commodity</th>
                <td><%= matchingTender.commodity %></td>
              </tr>
              <tr>
                <th scope="row">Special Handling</th>
                <td> <% if (!matchingTender.specialHandling || matchingTender.specialHandling.includes(null)) { %>None<% } else { for (i=0; i < matchingTender.specialHandling.length; i++) { if (i!==matchingTender.specialHandling.length -1){%><%=`${specialHandling[matchingTender.specialHandling[i]]}`%><br><% } else { %><%=`${specialHandling[matchingTender.specialHandling[i]]}`%><%} } }%></td>
              </tr>
              <tr>
                <th scope="row">Bidding restrictions</th>
                <td>
                  <% for (i=0; i < matchingTender.bidRestrictions.length; i++) { if (i!==matchingTender.bidRestrictions.length -1){%><%=`${bidRestrictions[matchingTender.bidRestrictions[i]]}`%><br><% } else { %><%=`${bidRestrictions[matchingTender.bidRestrictions[i]]}`%><%} }%>
                </td>
              </tr>
              <tr>
                <th scope="row">Bidding requirements</th>
                <td>
                  <% for (i=0; i < matchingTender.bidRequirements.length; i++) { if (i!==matchingTender.bidRequirements.length -1){%><%=`${bidRequirements[matchingTender.bidRequirements[i]]}`%><br><% } else { %><%=`${bidRequirements[matchingTender.bidRequirements[i]]}`%><%} }%>
                </td>
              </tr>
              <tr>
                <th scope="row">Number of rounds</th>
                <td><% if (matchingTender.roundsAmount > 1) {%><%= matchingTender.roundsAmount %> rounds<% } else { %><%= matchingTender.roundsAmount %> round<% } %></td>
              </tr>
              <tr>
                <th scope="row">Rates validity requested</th>
                <td>
                  <% if (matchingTender.ratesValidityAir) { %><%= matchingTender.ratesValidityAir %><% if(matchingTender.ratesValidityAir>1) { %> months (Air)<% } else { %> month (Air)<% } %><br><%} if (matchingTender.ratesValidityFCL) { %><%= matchingTender.ratesValidityFCL %><% if(matchingTender.ratesValidityFCL>1) { %> months (FCL)<% } else { %> month (FCL)<% } %><br><%} if (matchingTender.ratesValidityLCL) { %><%= matchingTender.ratesValidityLCL %><% if(matchingTender.ratesValidityLCL>1) { %> months (LCL)<% } else { %> month (LCL)<% } %><br><%} if (matchingTender.ratesValidityRail) { %><%= matchingTender.ratesValidityRail %><% if(matchingTender.ratesValidityRail>1) { %> months (Rail)<% } else { %> month (Rail)<% } } %>
                </td>
              </tr>
              <tr>
                <th scope="row">Contract period</th>
                <td><% if (matchingTender.contractPeriod > 1) {%><%= matchingTender.contractPeriod %> months<% } else { %><%= matchingTender.contractPeriod %> month<% } %></td>
              </tr>
              <tr>
                <th scope="row">Payment terms</th>
                <td><%= matchingTender.paymentTerms*30 %> days</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-schedule" role="tabpanel" aria-labelledby="v-pills-schedule-tab">
        <div class="container ps-5">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">RFI</th>
                <td> <% if (!matchingTender.linkedRFI) { %>None<% } else { %>RFI to be completed<% } %></td>
              </tr>
              <% if (matchingTender.linkedRFI) { %>
                <tr>
                  <th scope="row">RFI deadline</th>
                  <td><% if (matchingTender.deadlineRFI.getDate() < 10) {%><%=`0${matchingTender.deadlineRFI.getDate()}`%><% } else { %><%=matchingTender.deadlineRFI.getDate()%><% } %>-<%=monthsData[matchingTender.deadlineRFI.getMonth() + 1]%>-<%=matchingTender.deadlineRFI.getFullYear() %></td>
                </tr>
              <% } %>
              <tr>
                <th scope="row">Tender reception date</th>
                <td><% if (matchingTender.receptionDate.getDate() < 10) {%><%=`0${matchingTender.receptionDate.getDate()}`%><% } else { %><%=matchingTender.receptionDate.getDate()%><% } %>-<%=monthsData[matchingTender.receptionDate.getMonth() + 1]%>-<%=matchingTender.receptionDate.getFullYear() %></td>
              </tr>
              <tr>
                <tr>
                  <th scope="row">Tender deadline</th>
                  <td><% if (matchingTender.deadlineRFQ.getDate() < 10) {%><%=`0${matchingTender.deadlineRFQ.getDate()}`%><% } else { %><%=matchingTender.deadlineRFQ.getDate()%><% } %>-<%=monthsData[matchingTender.deadlineRFQ.getMonth() + 1]%>-<%=matchingTender.deadlineRFQ.getFullYear() %></td>
                </tr>
              </tr>
              <tr>
                <tr>
                  <th scope="row">Decision date</th>
                  <td><% if (matchingTender.decisionDate.getDate() < 10) {%><%=`0${matchingTender.decisionDate.getDate()}`%><% } else { %><%=matchingTender.decisionDate.getDate()%><% } %>-<%=monthsData[matchingTender.decisionDate.getMonth() + 1]%>-<%=matchingTender.decisionDate.getFullYear() %></td>
                </tr>
              </tr>
              <tr>
                <tr>
                  <th scope="row">Business start date</th>
                  <td><% if (matchingTender.startBusinessDate.getDate() < 10) {%><%=`0${matchingTender.startBusinessDate.getDate()}`%><% } else { %><%=matchingTender.startBusinessDate.getDate()%><% } %>-<%=monthsData[matchingTender.startBusinessDate.getMonth() + 1]%>-<%=matchingTender.startBusinessDate.getFullYear() %></td>
                </tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-commercial" role="tabpanel" aria-labelledby="v-pills-commercial-tab">
        <div class="container ps-5">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Current service provider</th>
                <td><%= matchingTender.currentServiceProvider %></td>
              </tr>
              <tr>
                <th scope="row">History</th>
                <td><% if (matchingTender.history[0]==="historyNone" ) { %><span data-bs-toggle="tooltip" data-bs-placement="top" title="Unusual value"><i class="twa twa-warning me-2"></i>No history</span><% } else { for (i=0; i < matchingTender.history.length; i++) { if (i!==matchingTender.history.length -1){ if (matchingTender.history[i] === "historyAirOcean") {%><%=`${history[matchingTender.history[i]]}`%> (<i><%=`${matchingTender.existingCustomerSegment}`%></i>)<br><% } else {%><%=`${history[matchingTender.history[i]]}`%><br><% }} else { %><%=`${history[matchingTender.history[i]]}`%><%} } }%></td>
              </tr>
              <tr>
                <th scope="row">Visit frequency</th>
                <td><%= matchingTender.visitFrequency %></td>
              </tr>
              <tr>
                <th scope="row">Visit history</th>
                <td><%= matchingTender.visitHistory %></td>
              </tr>
              <tr>
                <th scope="row">Reason for launching the tender</th>
                <td><%= matchingTender.reasonForTender %></td>
              </tr>
              <tr>
                <th scope="row">Decision criteria</th>
                <td><%= matchingTender.decisionCritera %></td>
              </tr>
              <tr>
                <th scope="row">Feedback availability</th>
                <td><% if (matchingTender.feedbackAvailable === "yes") {%>Yes<%} else if (matchingTender.feedbackAvailable === "no") {%><span data-bs-toggle="tooltip" data-bs-placement="top" title="Unusual value"><i class="twa twa-warning me-2"></i>No</span><%} else {%><span data-bs-toggle="tooltip" data-bs-placement="top" title="Unusual value"><i class="twa twa-warning me-2"></i>Unknown</span><%}%></td>
              </tr>
              <tr>
                <th scope="row">Contact name</th>
                <td><%= matchingTender.contactName %></td>
              </tr>
              <tr>
                <th scope="row">Contact job title</th>
                <td><%= matchingTender.contactJobTitle %></td>
              </tr>
              <tr>
                <th scope="row">Contact email</th>
                <td><%= matchingTender.contactEmail %></td>
              </tr>
              <tr>
                <th scope="row">Contact is decision maker</th>
                <td><% if (matchingTender.decisionMaker === "yes") {%>Yes<% }else if (matchingTender.decisionMaker === "partly") { %>Partly<% } else { %><span data-bs-toggle="tooltip" data-bs-placement="top" title="Unusual value"><i class="twa twa-warning me-2"></i>No</span><% } %></td>
              </tr>
              <tr>
                <th scope="row">Potential</th>
                <td><%= matchingTender.potential %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-docs" role="tabpanel" aria-labelledby="v-pills-docs-tab">
        <div class="container ps-5">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Documents uploaded</th>
                <td><% if (filesUploaded.length) {for (i=0; i < filesUploaded.length; i++) { if (i!==filesUploaded.length -1){%><%=`${filesUploaded[i]}`%><br><% } else { %><%=`${filesUploaded[i]}`%><% } } } else { %><span data-bs-toggle="tooltip" data-bs-placement="top" title="Unusual value"><i class="twa twa-warning me-2"></i>No files uploaded</span><% } %></td>
              </tr>
              <tr>
                <th scope="row">Additional comments</th>
                <td><% if (!matchingTender.additionalComment) {%><span data-bs-toggle="tooltip" data-bs-placement="top" title="Unusual value"><i class="twa twa-warning me-2"></i>No comments added</span><%} else { %><%= matchingTender.additionalComment %><% } %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<% if (currentUser.equals(matchingTender.author)) {%> 
<div class="modal fade" id="deleteConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel"><i class="twa twa-warning me-2"></i>Delete confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <p>
            Are you sure you want to delete the registration of this tender related to <%= matchingTender.companyName %> ?<br>
            All of the registration data and documents uploaded (if any) will be <u>permanently erased</u> from the database.
          </p>
          <strong>This action is irreversible !</strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary position-relative top-50 start-0" id="mod_returnBtn" data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle me-2"></i>Cancel</button>
        <form method="POST" action="/register/<%= matchingTender.id %>?_method=DELETE">
          <button class="btn btn-outline-danger border-danger"><i class="bi bi-trash me-2"></i>Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<% } %>
<!-- Modal Tender team acceptance -->
<% if (priviledge) { %> 
<div class="modal fade" id="decisionAcceptModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="decisionAcceptModalLabel">Acceptance confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fade show rounded-3 border border-5 border-warning border-top-0 border-end-0 border-bottom-0 w-100 mt-3 mb-5" data-autohide="false" data-bs-autohide="false">
          <div class="toast-header bg-warning bg-opacity-25">
            <strong class="me-auto my-auto text-danger h6"><i class="bi bi-exclamation-triangle-fill me-2"></i>Warning</strong>
          </div>
          <div class="toast-body">
            You are about to accept the participation in the tender related to <i><%= matchingTender.companyName %></i>.<br>
            The account owner will be notified about the acceptance. You may use the text field below to share some comments about the decision.<br>
            Once done, this tender opportunity will move forward to the next step.
          </div>
        </div>
        <form action="/register/<%= matchingTender.id %>/participation/accept" method="POST" id="formAccept">
          <div class="mb-3">
            <label for="tenderTeamDecisionComment" class="form-label"><strong>Tender team comments</strong></label>
            <textarea class="form-control" id="tenderTeamDecisionComment" name="tenderTeamDecisionComment" rows="5" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary position-relative top-50 start-0" id="mod_returnBtn" data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle me-2"></i>Cancel</button>
        <button class="btn btn-success border-success" type="submit" form="formAccept"><i class="bi bi-check-circle-fill me-2"></i>Participate</button>
      </div>
    </div>
  </div>
</div>
<% } %>
<!-- Modal Tender team decline -->
<% if (priviledge) { %> 
<div class="modal fade" id="decisionRejectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="decisionRejectModalLabel">Decline confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fade show rounded-3 border border-5 border-warning border-top-0 border-end-0 border-bottom-0 w-100 mt-3 mb-5" data-autohide="false" data-bs-autohide="false">
          <div class="toast-header bg-warning bg-opacity-25">
            <strong class="me-auto my-auto text-danger h6"><i class="bi bi-exclamation-triangle-fill me-2"></i>Warning</strong>
          </div>
          <div class="toast-body">
            You are about to decline the participation in the tender related to <i><%= matchingTender.companyName %></i>.<br>
            The account owner will be notified about the rejection. You may use the text field below to share some comments about the decision.<br>
            Once done, this tender opportunity will be closed.
          </div>
        </div>
        <form action="/register/<%= matchingTender.id %>/participation/decline" method="POST" id="formDecline">
          <div class="mb-3">
            <label for="tenderTeamDecisionComment" class="form-label"><strong>Tender team comments</strong></label>
            <textarea class="form-control" id="tenderTeamDecisionComment" name="tenderTeamDecisionComment" rows="5" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary position-relative top-50 start-0" id="mod_returnBtn" data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle me-2"></i>Cancel</button>
        <button class="btn btn-danger border-danger" type="submit" form="formDecline"><i class="bi bi-x-circle-fill me-2"></i>Decline</button>
      </div>
    </div>
  </div>
</div>
<% } %>
<!-- Customer feedback modal -->
<% if (priviledge || (matchingTender.author.equals(currentUser) && !isDecisionDatePassed)) { %> 
  <div class="modal fade" id="feedbackModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="feedbackModalLabel">Feedback confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fade show rounded-3 border border-5 border-warning border-top-0 border-end-0 border-bottom-0 w-100 mb-4" data-autohide="false" data-bs-autohide="false">
            <div class="toast-header bg-warning bg-opacity-25">
              <strong class="me-auto my-auto text-danger h6"><i class="bi bi-exclamation-triangle-fill me-2"></i>Warning</strong>
            </div>
            <div class="toast-body">
              You are about to submit a customer feedback related to the tender of <i><%= matchingTender.companyName %></i>.<br>
              You have to provide the customer decision as well as a feedback.<br>
              Once submitted, this tender will be closed.
            </div>
          </div>
          <form action="/register/<%= matchingTender.id %>/outcome" method="POST" id="feedbackForm">
            <div class="mb-3 d-grid gap-2">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="outcome" value="positive" id="btnRadioPositive" autocomplete="off" required>
                <label class="btn btn-outline-success border-end border-success" for="btnRadioPositive">Positive outcome</label>
              
                <input type="radio" class="btn-check" name="outcome" value="negative" id="btnRadioOr" autocomplete="off" required disabled>
                <label class="btn btn-outline-light text-dark border-0" for="btnRadioOr">or</label>

                <input type="radio" class="btn-check" name="outcome" value="negative" id="btnRadioNegative" autocomplete="off" required>
                <label class="btn btn-outline-danger border-start border-danger" for="btnRadioNegative">Negative outcome</label>
              </div>
            </div>
            <div class="mb-3">
              <label for="feedbackComment" class="form-label"><strong>Your comments</strong></label>
              <textarea class="form-control" id="feedbackComment" name="feedbackComment" rows="5" required></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary position-relative top-50 start-0" id="mod_returnBtn" data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle me-2"></i>Cancel</button>
          <button class="btn btn-success border-success" type="submit" form="formAccept"><i class="bi bi-send-check me-2"></i>Submit</button>
        </div>
      </div>
    </div>
  </div>
  <% } %>
<!-- OFF-CANVAS MODAL below -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
      <h4 id="offcanvasRightLabel">More actions</h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div class="row mt-3">
          <div class="col col-12">
              <div class="rounded-3 border p-3">
                  <nav class="nav flex-column">
                      <h5 class="text-center">Modify & delete</h5>
                      <a class="btn btn-light btn-block btn-sm border m-1 w-100 <% if (!priviledge && editRestriction) { %>disabled<% } %>" href="/register/edit/<%= matchingTender.id %>"><i class="bi bi-pencil-square me-1"></i>Edit</a>
                      <button class="btn btn-outline-danger btn-block btn-sm border-danger m-1 w-100 <% if (!priviledge && editRestriction) {%>disabled<% } %>" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal"><i class="bi bi-trash me-1"></i>Delete</button>
                  </nav>
                  <% if (!priviledge && editRestriction) { %>
                    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fade show rounded-3 border border-5 border-primary border-top-0 border-end-0 border-bottom-0 w-100 mt-2" data-autohide="false" data-bs-autohide="false">
                      <div class="toast-header bg-primary bg-opacity-25">
                        <strong class="me-auto my-auto text-primary h6"><i class="bi bi bi-info-circle-fill me-2"></i>Information</strong>
                      </div>
                      <div class="toast-body">
                        You can't edit or delete this tender.
                        <% if (!matchingTender.author.equals(currentUser)) { %>This tender opportunity doesn't belong to you. <% } %>
                        <% if (matchingTender.outcome) { %>The tender is closed. <% } %>
                        <% if (matchingTender.tenderTeamDecision) { %>The tender team has already decided on his case. <% } %>
                      </div>
                    </div>
                  <% } %>
              </div>
              <div class="rounded-3 border my-3 p-3 sticky-lg-top">
                <nav class="nav flex-column">
                    <h5 class="text-center">Outcome</h5>
                    <button class="btn btn-outline-success btn-block btn-sm m-1" <%if (!priviledge && !isDecisionDatePassed && !matchingTender.author.equals(currentUser)) {%>disabled<%}%> data-bs-toggle="modal" data-bs-target="#feedbackModal"><i class="bi bi-send-check me-1"></i>Provide the tender outcome</button>
                    <!-- <a class="btn btn-outline-success btn-block btn-sm border-success m-1 w-100 <%if (!priviledge && !isDecisionDatePassed && !matchingTender.author.equals(currentUser)) {%>disabled<%}%>" href=""><i class="bi bi-send-check me-1"></i>Feedback</a> -->
                </nav>
                <% if (!isDecisionDatePassed && !priviledge) { %>
                  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fade show rounded-3 border border-5 border-primary border-top-0 border-end-0 border-bottom-0 w-100 mt-2" data-autohide="false" data-bs-autohide="false">
                    <div class="toast-header bg-primary bg-opacity-25">
                      <strong class="me-auto my-auto text-primary h6"><i class="bi bi bi-info-circle-fill me-2"></i>Information</strong>
                    </div>
                    <div class="toast-body">
                      The outcome of the tender cannot be provided until the decision date (<% if (matchingTender.decisionDate.getDate() < 10) {%><%=`0${matchingTender.decisionDate.getDate()}`%><% } else { %><%=matchingTender.decisionDate.getDate()%><% } %>-<%=monthsData[matchingTender.decisionDate.getMonth() + 1]%>-<%=matchingTender.decisionDate.getFullYear() %>) is passed.
                    </div>
                  </div>
                <% } %>
              </div>
              <div class="rounded-3 border my-3 p-3 sticky-lg-top">
                <nav class="nav flex-column">
                    <h5 class="text-center">Issue pdf report</h5>
                    <p>Send me a pdf report by email.</p>
                    <form action="/register/report/<%= matchingTender.id %>" method="post">
                      <button class="btn btn-light btn-sm border w-100"><i class="bi bi-envelope-fill me-1"></i>Get a report</button>
                    </form>
                </nav>
              </div>
              <% if (priviledge) { %> 
              <hr>
              <div class="rounded-3 border my-3 p-3 sticky-lg-top">
                <nav class="nav flex-column">
                    <h5 class="text-center">Tender team actions</h5>
                    <h6 class="text-start mt-3">Tender team decision</h6>
                    <button class="btn btn-outline-success btn-block btn-sm m-1" data-bs-toggle="modal" data-bs-target="#decisionAcceptModal"><i class="bi bi-check-circle-fill me-1"></i>Accept participation</button>
                    <button class="btn btn-outline-danger btn-block btn-sm m-1" data-bs-toggle="modal" data-bs-target="#decisionRejectModal"><i class="bi bi-x-circle-fill me-1"></i>Decline participation</button>
                </nav>
              </div>
              <% } %>
          </div>
      </div>
  </div>
</div>
    <%- include("../partials/commonBootstrap.ejs") %>
</body>
</html>