<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Dashboard Reporting</title>
    <%- include("../partials/commonStyles.ejs") %>
    <%- include("../partials/commonFonts.ejs") %>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
<div class="col d-flex justify-content-between mx-3">
    <a href="/dashboard/start" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left-circle me-2"></i>Back</a>
    <!-- <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-gear me-1"></i>Options</button> -->
</div>
<div class="mt-2">
    <h1 class="text-center">Reporting</h1>
    <div class="container rounded-3 mt-5">
        <div class="container p-3">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <form action="/dashboard/issueReport/preadvise" method="POST">
                                <h5 class="card-title">Preadvise report</h5>
                                <p class="card-text">Issue and download an Excel report related to the tenders that have been preadvised.</p>
                                <div class="d-grid col-3 gap-2">
                                    <button class="btn btn-outline-primary btn-sm stretched-link">Download</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <form action="/dashboard/issueReport/register"  method="POST">
                                <h5 class="card-title">Registration report</h5>
                                <p class="card-text">Issue and download an Excel report related to the tenders that have been registered.</p>
                                <div class="d-grid col-3 gap-2">
                                    <button class="btn btn-outline-primary btn-sm stretched-link">Download</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Space 3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus architecto consectetur facere quasi similique incidunt voluptatibus modi dignissimos atque. Rerum mollitia dolores accusantium illum tenetur nulla et eum esse iste.</p>
                        <a href="#" class="btn btn-primary disabled">Soon</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</div>
    <%- include("../partials/commonBootstrap.ejs") %>
</body>
</html>