<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Visual Dashboard</title>
    <%- include("../partials/commonStyles.ejs") %>
    <%- include("../partials/commonFonts.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
<div class="col d-flex justify-content-between mx-3">
    <a href="/dashboard/start" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left-circle me-2"></i>Back</a>
    <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-gear me-1"></i>Options</button>
</div>
<div class="mt-2">
    <h1 class="text-center mb-3">Visual dashboard</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mt-3">
                <h2 class="text-center fs-6 mb-2">Number of opportunities recorded</h2>
                <div>
                    <canvas id="chartOpportunitiesNum"></canvas>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-3">
                <h2 class="text-center fs-6 mb-2">Number of launch per tender desk</h2>
                <div>
                    <canvas id="chartTenderDeskNum"></canvas>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-3">
                <h2 class="text-center fs-6 mb-2">Number of launch per transport mode</h2>
                <div>
                    <canvas id="chartModeNum"></canvas>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-3">
                <h2 class="text-center fs-6 mb-2">Opportunities Vol. evolution per transport mode</h2>
                <div>
                    <canvas id="chartModeVolumeEvol"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
    <%- include("../partials/commonBootstrap.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/dashboard_visual.js"></script>
</body>
</html>