<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Dashboard</title>
    <%- include("../partials/commonStyles.ejs") %>
    <%- include("../partials/commonFonts.ejs") %>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
<a href="/start" class="btn btn-secondary btn-sm d-inline-block z-index-1 position-relative top-0 start-0 mt-2 ms-3"><i class="bi bi-arrow-left-circle me-2"></i>Back</a>
<div class="mt-2">
    <h1 class="text-center">Dashboard</h1>
    <div class="container rounded-3 mt-5">
        <div class="container p-3">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Visual dashboad</h5>
                        <p class="card-text">Access data in a visual way with charts and graphics.</p>
                        <div class="d-grid col-3 gap-2">
                            <a href="/dashboard/visual" class="btn btn-outline-secondary btn-sm stretched-link">Soon</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Reports</h5>
                        <p class="card-text">Issue Excel and pdf reports.</p>
                        <div class="d-grid col-3 gap-2">
                            <a href="/dashboard/reporting" class="btn btn-outline-secondary btn-sm stretched-link">Go</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <%- include("../partials/commonBootstrap.ejs") %>
</body>
</html>