<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Visual Dashboard</title>
    <%- include("../partials/commonStyles.ejs") %>
    <%- include("../partials/commonFonts.ejs") %>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
<div class="col d-flex justify-content-between mx-3">
    <a href="/dashboard/start" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left-circle me-2"></i>Back</a>
    <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-gear me-1"></i>Options</button>
</div>
<div class="mt-2">
    <h1 class="text-center">Visual dashboard</h1>
    

</div>
    <%- include("../partials/commonBootstrap.ejs") %>
</body>
</html>