<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("partials/commonStyles.ejs") %>
    <%- include("partials/commonFonts.ejs") %>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
<div class="container">
    <h1>Edit office data</h1>
    <form method="post" action="/moonshot/office/edit/<%= matchingOffice._id %>?_method=PATCH">
        <div>
            <h3>Country</h3>
                <p>Select the country related to this office.</p>
                <select name="countryLocation" id="countryLocation">
                    <option value="">--Please choose an option--</option>
                    <% for (let country of countriesData) {%> <option value="<%= country.cca2 %>" <% if(matchingOffice.cca2 === country.cca2) { %>selected<% } %>><%= country.cca2 %> - <%= country.name.common %></option> <% } %> 
                </select>
            <div>
                <h4>Rhenus setup</h4>
                <p>Select the current setup of Rhenus in this country</p>
                <div>
                    <div>
                        <input type="radio" id="rhenusSetup" name="officeSetup" value="rhenusSetup" <% if(matchingOffice.officeSetup === "rhenusSetup") { %>checked<% } %>>
                        <label for="rhenusSetup">Rhenus office</label>
                    </div>
                    <div>
                        <input type="radio" id="agentSetup" name="officeSetup" value="agentSetup" <% if(matchingOffice.officeSetup === "agentSetup") { %>checked<% } %>>
                        <label for="agentSetup">Agent office</label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h4>Office details</h4>
            <div>
                <label for="companyName">Company name</label>
                <input type="text" id="companyName" name="companyName" value="<%= matchingOffice.companyName %>">
            </div>
            <div>
                <label for="address">Adress</label>
                <input type="text" id="address" name="address" value="<%= matchingOffice.address %>"> 
            </div>
            <div>
                <label for="postCode">ZIP Code</label>
                <input type="text" id="postCode" name="postCode" value="<%= matchingOffice.address_postCode %>"> 
            </div>
            <div>
                <label for="city">City name</label>
                <input type="text" id="city" name="city" value="<%= matchingOffice.address_city %>"> 
            </div>
            <div>
                <label for="countryName">Country name</label>
                <select name="countryName" id="countryName">
                    <option value="" selected>--Please choose an option--</option>
                    <% for (let country of countriesData) {%> <option value="<%= country.cca2 %>" <% if(matchingOffice.address_cca2 === country.cca2) { %>selected<% } %>><%= country.cca2 %> - <%= country.name.common %></option> <% } %> 
                </select>
            </div>
            <div>
                <div>
                    <label for="officeLatLng">Office Latitude</label>
                    <input type="text" id="officeLatLng" name="officeLatLng" value="<%= matchingOffice.latlng %>"> 
                </div>
                <p><a href="https://support.google.com/maps/answer/18539?hl=en&co=GENIE.Platform=Desktop">How to get latitude and longitude</a></p>
            </div>
            <div>
                <h5>Tender desk related</h5>
                <p>Select the tender desk related to this office.</p>
                <select name="tenderDesk" id="tenderDesk">
                    <option value="">--Please choose an option--</option>
                    <option value="ap" <% if(matchingOffice.tenderDesk === "ap") { %>selected<% } %>>CN - APAC Tender Management</option>
                    <option value="eu" <% if(matchingOffice.tenderDesk === "eu") { %>selected<% } %>>DE - Europe Tender Management</option>
                    <option value="am" <% if(matchingOffice.tenderDesk === "am") { %>selected<% } %>>US - Americas Tender Management</option>
                </select>
            </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
    <%- include("partials/commonBootstrap.ejs") %>
    <script src="/js/office_new.js"></script>
</body>
</html>