<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("partials/commonStyles.ejs") %>
    <%- include("partials/commonFonts.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flash.ejs") %>
<div class="container mt-5">
    <h1 class="text-center">Register a new office</h1>
    <p class="lead my-5">Dear Tender Team member,<br>
        During a tender launch, setting up a distribution list can be complicated.<br>
        Please Use the form below to register a new office in the database to include it in the tender launch process.<br>
        Thank you!</p>
    <div class="container mb-5 p-4 border rounded-3">
        <form class="mb-5 needs-validation" id="newofficeForm" method="post" action="/office/new" novalidate>
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <h2>Area handled by the office</h2>
                    <p>Select the country of action of this office.</p>
                        <div class="container mb-5">
                            <div class="mb-3">
                                <div class="input-group has-validation">
                                    <select class="form-select" id="countryLocation" name="countryLocation" required>
                                        <option selected disabled value="">Choose...</option>
                                        <% for (let country of countriesData) { %>
                                        <option value="<%= country.cca2 %>"><%= country.cca2 %> - <%= country.name.common %> <% if (!country.flag) { %>🇺🇳<% } else { %> <%=country.flag%> <% } %></option>
                                        <% } %>
                                    </select>
                                    <div class="invalid-feedback">Please make a selection.</div>
                                </div>
                                <div class="form-text">Make sure to input the country or area where the office operates, not the country or area where the office is located.<br>
                                For example, an office located in Singapore can operate in Malaysia, therefore, select Malaysia, as it is the country of operation.
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row justify-content-md-center">
                    <h2 class="mb-3">Office setup</h2>
                    <div class="col-12 col-md-6 pe-3 border-end">
                        <h3>Address details</h3>
                        <div class="row">
                            <div class="col-12 mt-3">
                                <label for="companyName" class="form-label">Company name</label>
                                <input type="text" class="form-control" id="companyName" name="companyName" required>
                              </div>
                              <div class="col-12 mt-3">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" name="address" required>
                              </div>
                              <div class="col-md-6 mt-3">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" name="city" required>
                              </div>
                              <div class="col-md-6 mt-3">
                                <label for="postCode" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="postCode" name="postCode" required>
                              </div>
                              <div class="col-12 mt-3">
                                <label for="countryName" class="form-label">Country</label>
                                <select class="form-select" id="countryName" name="countryName" required>
                                    <option selected disabled value="">Choose...</option>
                                    <% for (let country of countriesData) { %>
                                    <option value="<%= country.cca2 %>"><%= country.cca2 %> - <%= country.name.common %> <% if (!country.flag) { %>🇺🇳<% } else { %> <%=country.flag%> <% } %></option>
                                    <% } %>
                                </select>
                                <div class="invalid-feedback">Please make a selection.</div>
                              </div>
                              <div class="col-md-6 mt-3">
                                <label for="lat" class="form-label">Latitude</label>
                                <input type="text" class="form-control" id="lat" name="lat" required>
                                <!-- <div class="form-text">Make sure to input the GPS latitude where the office is located.
                                    <a class="ms-3" href="https://support.google.com/maps/answer/18539?hl=en&co=GENIE.Platform=Desktop"><i class="bi bi-info-circle"></i></a>
                                </div> -->
                              </div>
                              <div class="col-md-6 mt-3">
                                <label for="lng" class="form-label">Longitude</label>
                                <input type="text" class="form-control" id="lng" name="lng" required>
                                <!-- <div class="form-text">Make sure to input the GPS longitude where the office is located.
                                    <a class="ms-3" href="https://support.google.com/maps/answer/18539?hl=en&co=GENIE.Platform=Desktop"><i class="bi bi-info-circle"></i></a>
                                </div> -->
                              </div>
                              <div class="col-12">
                                <div class="form-text"><a class="btn btn-light btn-sm me-2" href="https://support.google.com/maps/answer/18539?hl=en&co=GENIE.Platform=Desktop" target="_blank" rel="noopener noreferrer"><i class="bi bi-info-circle"></i></a>Make sure to input the GPS lattitude & longitude where the office is located.</div>
                              </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ps-3">
                        <div class="row">
                            <div class="col-12">
                                <h3>Category</h3>
                                <p>Select the current setup of Rhenus in this country</p>
                                <div class="container mb-5">
                                    <div class="form-check mb-3">
                                        <input type="radio"  class="form-check-input" id="rhenusSetup" name="officeSetup" value="rhenusSetup" required>
                                        <label class="form-check-label" for="rhenusSetup">Rhenus office</label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input type="radio" class="form-check-input" id="agentSetup" name="officeSetup" value="agentSetup" required>
                                        <label class="form-check-label" for="agentSetup">Agent office</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <h3>Tender desk related</h3>
                                <label for="tenderDesk" class="form-label">Select the tender desk related to this office.</label>
                                <select class="form-select" id="tenderDesk" name="tenderDesk" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option value="ap">APAC Tender Management</option>
                                    <option value="eu">Europe Tender Management</option>
                                    <option value="am">Americas Tender Management</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-grid gap-2 col-6 mx-auto mt-5">
            <button type="button" class="btn btn-primary" id="confirmBtn">Confirm</button>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p><strong>You are about to create a new office in the database.</strong> Take a few minutes to review the information below and ammend it if necessary.<br>
                            Once everything is OK, you can submit the information.
                        </p>
                        <hr>
                        <div>
                            <div class="row justify-content-md-center mb-2">
                                <div class="col-12 col-md-4">
                                    <span><strong>For operations in:</strong></span>
                                </div>
                                <div class="col-12 col-md-8">
                                    <span class="font-monospace" id="mod_countryLocationcca2"></span> - <span id="mod_countryLocation"></span>
                                </div>
                                <div class="col-12 mt-3 mb-2"><i>It is possible to refer to the following office.</i></div>
                                <div class="col-12 col-md-4">
                                    <span><strong>Office category</strong></span>
                                </div>
                                <div class="col-12 col-md-8">
                                    <span id="mod_officeSetup"></span>
                                </div>
                                <div class="col-12 col-md-4">
                                    <span><strong>Company name</strong></span>
                                </div>
                                <div class="col-12 col-md-8">
                                    <span id="mod_companyName"></span>
                                </div>
                                <div class="col-4 mt-3">
                                    <span><strong>Address</strong></span>
                                </div>
                                <div class="col-12 col-md-8 mt-3">
                                    <span id="mod_address"></span>
                                </div>
                                <div class="col-12 col-md-8 offset-md-4">
                                    <span id="mod_address"></span>
                                </div>
                                <div class="col-12 col-md-8 offset-md-4">
                                    <span id="mod_city"></span> - <span id="mod_postCode"></span>
                                </div>
                                <div class="col-12 col-md-8 offset-md-4">
                                    <span id="mod_countryName"></span>
                                </div>
                                <div class="col-12 col-md-4">
                                    <span><strong>Coordinates</strong></span>
                                </div>
                                <div class="col-12 col-md-8">
                                    <span id="mod_coordinates"></span><a class="btn btn-light btn-sm ms-3" href="" id="mod_mapsLink" target="_blank" rel="noopener noreferrer"><i class="bi bi-geo-alt"></i></a>
                                </div>
                                <div class="col-12 mt-3"><strong>Tender Management</strong></div>
                                <div class="col-12 col-md-4">Tender desk</div>
                                <div class="col-12 col-md-8"><span id="mod_tenderDesk"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary position-relative top-50 start-0" id="mod_returnBtn" data-bs-dismiss="modal"><i class="bi bi-pencil-square me-2"></i>Change</button>
                        <button type="submit" form="newofficeForm" class="btn btn-success position-relative top-50 end-0" id="mod_submitBtn"><i class="bi bi-send-check me-2"></i>Submit</button>
                    </div>
                </div>
            </div>
        </div>

</div>
    <%- include("partials/commonBootstrap.ejs") %>
    <script src="/js/office_new.js"></script>
</body>
</html>