<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("partials/commonStyles.ejs") %>
    <%- include("partials/commonFonts.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>
<body>
    <%- include("partials/navbar.ejs") %>
<a href="/preadvise/start" class="btn btn-secondary btn-sm d-inline-block z-index-1 position-relatisve top-0 start-0 mt-3 ms-3"><i class="bi bi-arrow-left-circle me-2"></i>Abort</a>
<div class="container mt-2">
    <h1 class="text-center">Preadvise a tender to be launched in the future</h1>
    <p class="lead my-5">Dear Account Owner,<br>
        The professional handling of a tender is a comprehensive task for our organization that involves substantial company resources. <br>
        Please invest the following 2-5 minutes to announce your tender. <br>
        Thank you!</p>
    <div class="container mb-5 py-4 border rounded-5">
        <form class="mb-5 needs-validation" id="preadviseForm" action="/preadvise/new" method="POST" novalidate>
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <h2>Location & handling of the tender preadvise</h2>
                    <p>For a more efficient handling of this preadvise, select your location.</p>
                        <div class="container mb-5">
                            <div class="mb-3">
                                <div class="input-group has-validation">
                                    <select class="form-select" id="countryLocation" name="countryLocation" required>
                                        <option selected disabled value="">Choose...</option>
                                        <% for (let country of countriesData) { %>
                                        <option value="<%= country.cca2 %>"><%= country.cca2 %> - <%= country.name.common %> <% if (!country.flag) { %>🇺🇳<% } else { %> <%=country.flag%> <% } %></option>
                                        <% } %>
                                    </select>
                                    <div class="invalid-feedback">Please make a selection.</div>
                                </div>
                                <div class="form-text">Make sure to input the country where you are located, not the country of the company related to the tender preadvise.</div>
                            </div>
                        </div>
                </div>
                <div class="col-12 col-md-6 px-3">
                    <h2>Account information</h2>
                    <p>Please complete the following details about your customer / prospect</p>
                        <div class="container mb-5">
                            <div class="mb-3">
                                <div>
                                    <label class="form-label" for="companyName">Company Name (Customer)</label>
                                    <input class="form-control" type="text" id="companyName" name="companyName" required>
                                    <div class="form-text">Enter the "group company name" of your customer / prospect.</div>
                                    <div class="invalid-feedback">Please fill this field.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div>
                                    <label class="form-label" for="sugarID">Sugar ID</label>
                                    <input class="form-control" type="text" id="sugarID" name="sugarID" required>
                                    <div class="form-text">Only enter ONE correct "main" <i>Indent Number</i> from the Sugar CRM system:</div>
                                    <div class="invalid-feedback">Please fill this field.</div>
                                </div>
                            </div>        
                            <div>
                                <label class="form-label" for="expectedReceiveDate">Expected receive date</label>
                                <input class="form-control" type="date" id="expectedReceiveDate" name="expectedReceiveDate" required>
                                <div class="form-text">When do you expect to receive the tender?</div>
                                <div class="invalid-feedback">Please fill this field.</div>
                            </div>
                        </div>
                </div>
                <div class="col-12 col-md-6 px-3">
                    <h2>Volume information</h2>
                        <p>Would the tender include the following mode of transportation ?<br>
                        If yes, then, what would be the volumes ?</p>
                    <div class="container mb-5">
                        <div class="row mb-3">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input transportModeBox" id="hasAirFreight" type="checkbox" value="hasAirFreight" name="transportMode" required>
                                    <label class="form-check-label" for="hasAirFreight">Air freight</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control transportModeVolume" id="airFreightVol" name="airFreightVol" placeholder="Air volumes in Tons" aria-label="Air freight volumes in Tons" required>
                                    <span class="input-group-text">Tons</span>
                                    <span class="input-group-text"><i>(estimated)</i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input transportModeBox" id="hasSeaFreightFCL" type="checkbox" value="hasSeaFreightFCL" name="transportMode" required>
                                    <label class="form-check-label" for="hasSeaFreightFCL">Sea freight FCL</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control transportModeVolume" id="seaFreightFCLVol" name="seaFreightFCLVol" placeholder="FCL volumes in TEUs" aria-label="FCL volumes in TEUs" required>
                                    <span class="input-group-text">TEUs</span>
                                    <span class="input-group-text"><i>(estimated)</i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input transportModeBox" id="hasSeaFreightLCL" type="checkbox" value="hasSeaFreightLCL" name="transportMode" required>
                                    <label class="form-check-label" for="hasSeaFreightLCL">Sea freight LCL</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control transportModeVolume" id="seaFreightLCLVol" name="seaFreightLCLVol" placeholder="LCL volumes in CBMs" aria-label="LCL volumes in CBMs" required>
                                    <span class="input-group-text">CBMs</span>
                                    <span class="input-group-text"><i>(estimated)</i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input transportModeBox" id="hasRailFreight" type="checkbox" value="hasRailFreight" name="transportMode" required>
                                    <label class="form-check-label" for="hasRailFreight">Rail freight</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control transportModeVolume" id="railFreightVol" name="railFreightVol" placeholder="Rail volumes in TEUs" aria-label="Rail volumes in TEUs" required>
                                    <span class="input-group-text">TEUs</span>
                                    <span class="input-group-text"><i>(estimated)</i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Key tradelanes</h2>
            <div class="container mb-5">
                    <table class="table text-center">
                        <thead>
                            <tr>
                            <th scope="col"></th>
                            <th scope="col">To Africa</th>
                            <th scope="col">To Americas</th>
                            <th scope="col">To Asia</th>
                            <th scope="col">To Europe</th>
                            <th scope="col">To Oceania</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">From Africa</th>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="africaToAfrica" name="keyTradelanes" value="africaToAfrica" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="africaToAmericas" name="keyTradelanes" value="africaToAmericas" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="africaToAsia" name="keyTradelanes" value="africaToAsia" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="africaToEurope" name="keyTradelanes" value="africaToEurope" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="africaToOceania" name="keyTradelanes" value="africaToOceania" required></td>
                            </tr>
                            <tr>
                            <th scope="row">From Americas</th>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="americasToAfrica" name="keyTradelanes" value="americasToAfrica" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="americasToAmericas" name="keyTradelanes" value="americasToAmericas" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="americasToAsia" name="keyTradelanes" value="americasToAsia" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="americasToEurope" name="keyTradelanes" value="americasToEurope" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="americasToOceania" name="keyTradelanes" value="americasToOceania" required></td>
                            </tr>
                            <tr>
                            <th scope="row">From Asia</th>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="asiaToAfrica" name="keyTradelanes" value="asiaToAfrica" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="asiaToAmericas" name="keyTradelanes" value="asiaToAmericas" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="asiaToAsia" name="keyTradelanes" value="asiaToAsia" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="asiaToEurope" name="keyTradelanes" value="asiaToEurope" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="asiaToOceania" name="keyTradelanes" value="asiaToOceania" required></td>
                            </tr>
                            <tr>
                            <th scope="row">From Europe</th>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="europeToAfrica" name="keyTradelanes" value="europeToAfrica" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="europeToAmericas" name="keyTradelanes" value="europeToAmericas" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="europeToAsia" name="keyTradelanes" value="europeToAsia" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="europeToEurope" name="keyTradelanes" value="europeToEurope" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="europeToOceania" name="keyTradelanes" value="europeToOceania" required></td>
                            </tr>
                            <tr>
                            <th scope="row">From Oceania</th>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="oceaniaToAfrica" name="keyTradelanes" value="oceaniaToAfrica" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="oceaniaToAmericas" name="keyTradelanes" value="oceaniaToAmericas" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="oceaniaToAsia" name="keyTradelanes" value="oceaniaToAsia" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="oceaniaToEurope" name="keyTradelanes" value="oceaniaToEurope" required></td>
                            <td><input class="form-check-input keyTradelaneBox" type="checkbox" id="oceaniaToOceania" name="keyTradelanes" value="oceaniaToOceania" required></td>
                            </tr>
                        </tbody>
                    </table>
            </div>

            <h2>Rhenus relashionship</h2>
            <div class="container mb-5">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-6 px-3">
                            <h3>Existing Customer Rhenus Group</h3>
                            <p>Is the tendering company an existing customer to the Rhenus Group (locally or globally) ?</p>
                                <div class="container mb-3">
                                        <div class="form-check mb-3">
                                            <input class="form-check-input historyBox" id="historyAirOcean" type="checkbox" value="historyAirOcean" name="history" required>
                                            <label class="form-check-label" for="historyAirOcean">Yes - Rhenus Air & Ocean</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input historyBox" id="historyRoadFreight" type="checkbox" value="historyRoadFreight" name="history" required>
                                            <label class="form-check-label" for="historyRoadFreight">Yes - Rhenus Road</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input historyBox" id="historyContractLog" type="checkbox" value="historyContractLog" name="history" required>
                                            <label class="form-check-label" for="historyContractLog">Yes - Rhenus Contract Logistics</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input historyBox" id="historyPortLog" type="checkbox" value="historyPortLog" name="history" required>
                                            <label class="form-check-label" for="historyPortLog">Yes - Rhenus Port Logistics</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input historyBox" id="historyNone" type="checkbox" value="historyNone" name="history" required>
                                            <label class="form-check-label" for="historyNone">No history</label>
                                        </div>
                                </div>
                    </div>
                        <div class="col-12 col-md-6 px-3">
                            <h3>Rhenus Air & Ocean history</h3>
                            <p>If existing customer in Air & Ocean, please choose from the segmentation below (only estimate):</p>
                            <div class="container mb-5">
                                <div class="form-check mb-3">
                                    <input class="form-check-input customerSegment" id="segmentA" type="radio" value="A-customer" name="existingCustomerSegment">
                                    <label class="form-check-label" for="segmentA">A-customer: > 100 K€ gross profit p. a.</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input customerSegment" id="segmentB" type="radio" value="B-customer" name="existingCustomerSegment">
                                    <label class="form-check-label" for="segmentB">B-customer: > 50 K€ gross profit p. a.</label>
                                </div>                
                                <div class="form-check">
                                    <input class="form-check-input customerSegment" id="segmentC" type="radio" value="C-customer" name="existingCustomerSegment">
                                    <label class="form-check-label" for="segmentC">C-customer: > 10 K€ gross profit p. a.</label>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <h2>Additional Comments</h2>
            <div class="container mb-5">
                <p>Please feel free to share any comments that may be helpul for the tender team</p>
                <div class="row justify-content-md-center">
                    <div class="col-12 px-3">
                        <textarea class="form-control" id="additionalComment" name="additionalComment" rows="3"></textarea>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-primary" id="confirmBtn">Confirm</button>
            </div>

        </form>
    </div>
           <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p><strong>You are about to preadvise a new tender.</strong> Take a few minutes to review the information below and ammend it if necessary.<br>
                    Once everything is OK, you can submit your preadvise.
                </p>
                <hr>
                <div>
                    <div class="row justify-content-md-center mb-2">
                        <div class="col-12 col-md-4">
                            <span><strong>Preadvise sent from:</strong></span>
                        </div>
                        <div class="col-12 col-md-8">
                            <span id="mod_countryLocation"></span>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-2">
                        <div class="col-12 col-md-4">
                            <span><strong>Company name:</strong></span>
                        </div>
                        <div class="col-12 col-md-8">
                            <span id="mod_companyName"></span>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-2">
                        <div class="col-12 col-md-4">
                            <span><strong>Sugar ID:</strong></span>
                        </div>
                        <div class="col-12 col-md-8">
                            <span id="mod_sugarID"></span>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-2">
                        <div class="col-12 col-md-4">
                            <span><strong>Expected receive date:</strong></span>
                        </div>
                        <div class="col-12 col-md-8">
                            <span id="mod_expectedReceiveDate"></span>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-2">
                        <div class="col-12 col-md-4">
                            <span><strong>History with Rhenus:</strong></span>
                        </div>
                        <div class="col-12 col-md-8">
                            <span id="mod_rhenusHistory"></span>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-2">
                        <div class="col-12 col-md-4">
                            <span><strong>Customer segment:</strong></span>
                        </div>
                        <div class="col-12 col-md-8">
                            <span id="mod_existingCustomerSegment"></span>
                        </div>
                    </div>
                </div>
                <strong>Transport mode & Volumes:</strong>
                <table class="table table-sm mb-4">
                    <thead>
                      <tr>
                        <th scope="col">Mode</th>
                        <th scope="col">In scope</th>
                        <th scope="col">Volumes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Air freight</th>
                        <td id="mod_hasAirFreight"></td>
                        <td id="mod_airFreightVol"></td>
                      </tr>
                      <tr>
                        <th scope="row">Sea freight FCL</th>
                        <td id="mod_hasSeaFreightFCL"></td>
                        <td id="mod_seaFreightFCLVol"></td>
                      </tr>
                      <tr>
                        <th scope="row">Sea freight LCL</th>
                        <td id="mod_hasSeaFreightLCL"></td>
                        <td id="mod_seaFreightLCLVol"></td>
                      </tr>
                      <tr>
                        <th scope="row">Rail freight</th>
                        <td id="mod_hasRailFreight"></td>
                        <td id="mod_railFreightVol"></td>
                      </tr>
                    </tbody>
                  </table>
                <strong>Key tradelanes: </strong><span id="mod_keyTradelanes"></span><br>
                <table class="table table-sm mb-4">
                    <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col">To Africa</th>
                        <th scope="col">To Americas</th>
                        <th scope="col">To Asia</th>
                        <th scope="col">To Europe</th>
                        <th scope="col">To Oceania</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">From Africa</th>
                        <td><span id="mod_africaToAfrica"></span></td>
                        <td><span id="mod_africaToAmericas"></span></td>
                        <td><span id="mod_africaToAsia"></span></td>
                        <td><span id="mod_africaToEurope"></span></td>
                        <td><span id="mod_africaToOceania"></span></td>
                        </tr>
                        <tr>
                        <th scope="row">From Americas</th>
                        <td><span id="mod_americasToAfrica"></span></td>
                        <td><span id="mod_americasToAmericas"></span></td>
                        <td><span id="mod_americasToAsia"></span></td>
                        <td><span id="mod_americasToEurope"></span></td>
                        <td><span id="mod_americasToOceania"></span></td>
                        </tr>
                        <tr>
                        <th scope="row">From Asia</th>
                        <td><span id="mod_asiaToAfrica"></span></td>
                        <td><span id="mod_asiaToAmericas"></span></td>
                        <td><span id="mod_asiaToAsia"></span></td>
                        <td><span id="mod_asiaToEurope"></span></td>
                        <td><span id="mod_asiaToOceania"></span></td>
                        </tr>
                        <tr>
                        <th scope="row">From Europe</th>
                        <td><span id="mod_europeToAfrica"></span></td>
                        <td><span id="mod_europeToAmericas"></span></td>
                        <td><span id="mod_europeToAsia"></span></td>
                        <td><span id="mod_europeToEurope"></span></td>
                        <td><span id="mod_europeToOceania"></span></td>
                        </tr>
                        <tr>
                        <th scope="row">From Oceania</th>
                        <td><span id="mod_oceaniaToAfrica"></span></td>
                        <td><span id="mod_oceaniaToAmericas"></span></td>
                        <td><span id="mod_oceaniaToAsia"></span></td>
                        <td><span id="mod_oceaniaToEurope"></span></td>
                        <td><span id="mod_oceaniaToOceania"></span></td>
                        </tr>
                    </tbody>
                </table>
                <strong>Additional comments: </strong><br>
                <span id="mod_additionalComment"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary position-relative top-50 start-0" id="mod_returnBtn" data-bs-dismiss="modal"><i class="bi bi-pencil-square"></i> Change</button>
                    <button type="submit" form="preadviseForm" class="btn btn-success position-relative top-50 end-0" id="mod_submitBtn"><i class="bi bi-send-check"></i> Submit</button>
                </div>
            </div>
            </div>
        </div>

</div>
    <%- include("partials/commonBootstrap.ejs") %>
    <script src="/js/preadvised_new.js"></script>
</body>
</html>