<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("partials/commonStyles.ejs") %>
    <%- include("partials/commonFonts.ejs") %>
</head>

<body>
    <%- include("partials/navbar.ejs") %>
<div class="container">
    <div class="container my-5"></div>
    <h1><%= matchingTender.companyName %></h1>
    <h2>Tender pre-advised</h2>
    <p><a class="btn btn-light btn-sm border" href="/moonshot/preadvised"><i class="bi bi-arrow-left-circle me-1"></i>Back</a></p>

    <table class="table">
        <tbody>
          <tr>
            <th scope="row">Company name</th>
            <td><%= matchingTender.companyName %></td>
          </tr>
          <tr>
            <th scope="row">Sugar ID</th>
            <td><%= matchingTender.sugarID %></td>
          </tr>
          <tr>
            <th scope="row">User</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Country related</th>
            <td><% for (let country of countriesData) { if (country.cca2 === matchingTender.countryLocation) { %> <span><%=`${country.flag}`%></span><span class="font-monospace ms-2"><%=`${country.cca2}`%></span><%}}%></td>
          </tr>
          <tr>
            <th scope="row">Registration date</th>
            <td><%= matchingTender.recordDate.getDate() %>-<%=monthsData[matchingTender.recordDate.getMonth() + 1]%>-<%=matchingTender.recordDate.getFullYear() %>
             <!-- Uncomment below to display the hour of registration -->
            <!-- at <%=matchingTender.recordDate.getHours()%>:<%=matchingTender.recordDate.getMinutes()%> -->
            </td>
          </tr>
          <tr>
            <th scope="row">Expected receive date</th>
            <td><%= matchingTender.expectedReceiveDate.getDate() %>-<%=monthsData[matchingTender.expectedReceiveDate.getMonth() + 1]%>-<%=matchingTender.expectedReceiveDate.getFullYear() %></td>
          </tr>
          <tr>
            <th scope="row">Key Tradelanes</th>
            <td>
              <% for (i=0; i < matchingTender.keyTradelanes.length; i++) { if (i!==matchingTender.keyTradelanes.length -1){%><%=`${tradelanes[matchingTender.keyTradelanes[i]]}`%><br><% } else { %><%=`${tradelanes[matchingTender.keyTradelanes[i]]}`%><%} }%>
            </td>
          </tr>
          <tr>
            <th scope="row">History</th>
            <td><% if (matchingTender.history[0]==="historyNone" ) { %> No history <% } else { for (i=0; i < matchingTender.history.length; i++) { if (i!==matchingTender.history.length -1){ if (matchingTender.history[i] === "historyAirOcean") {%><%=`${history[matchingTender.history[i]]}`%> (<i><%=`${matchingTender.existingCustomerSegment}`%></i>)<br><% } else {%><%=`${history[matchingTender.history[i]]}`%><br><% }} else { %><%=`${history[matchingTender.history[i]]}`%><%} } }%></td>
          </tr>
          <tr>
            <th scope="row">Transport Mode</th>
            <td> <% for (i=0; i < matchingTender.transportMode.length; i++) { if (i!==matchingTender.transportMode.length -1){%><%=`${transportModes[matchingTender.transportMode[i]]}`%><br><% } else { %><%=`${transportModes[matchingTender.transportMode[i]]}`%><%} }%></td>
          </tr>
          <tr>
            <th scope="row">Expected volumes</th>
            <td><% if (matchingTender.airFreightVolume) { %><%=`${(matchingTender.airFreightVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} Tons `%><i>estimated</i><br><%}%><% if (matchingTender.seaFreightFCLVolume) { %><%=`${(matchingTender.seaFreightFCLVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} TEUs `%><i>estimated</i><br><%}%><% if (matchingTender.seaFreightLCLVolume) { %><%=`${(matchingTender.seaFreightLCLVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} CBMs `%><i>estimated</i><br><%}%><% if (matchingTender.railFreightVolume) { %><%=`${(matchingTender.railFreightVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} TEUs `%><i>estimated</i><%}%></td>
          </tr>
        </tbody>
      </table>

    <h3>Actions</h3>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-light btn-sm border" href="/moonshot/preadvised/edit/<%= matchingTender.id %>"><i class="bi bi-pencil-square me-1"></i>Edit</a>
                <button class="btn btn-outline-danger btn-sm border-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal"><i class="bi bi-trash me-1"></i>Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">Delete confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <p>Are you sure you want to delete the preadvised tender related to <%= matchingTender.companyName %> ?</p>
          <strong>This action is irreversible !</strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary position-relative top-50 start-0" id="mod_returnBtn" data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle me-2"></i>Cancel</button>
        <form method="POST" action="/moonshot/preadvised/<%= matchingTender.id %>?_method=DELETE">
          <button class="btn btn-outline-danger border-danger"><i class="bi bi-trash me-2"></i>Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
    <%- include("partials/commonBootstrap.ejs") %>
</body>
</html>