<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("partials/commonStyles.ejs") %>
    <%- include("partials/commonFonts.ejs") %>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <a href="/preadvise/start" class="btn btn-secondary btn-sm d-inline-block z-index-1 position-relatisve top-0 start-0 mt-3 ms-3"><i class="bi bi-arrow-left-circle me-2"></i>Back</a>
    <div class="row mt-2">
        <div class="col col-12">
            <h1 class="text-center">Tender pre-advise</h1>
        </div>
        <div class="col col-12 col-sm-11">
            <p class="lead ms-xs-2 ms-sm-5">Find below an organized schedule of the preadvised tenders</p>
        </div>
        <div class="col col-12 col-sm-1">
            <button class="btn btn-outline-secondary position-relative top-50 start-50 translate-middle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasDisplayOptions"><i class="bi bi-funnel"></i></button>
        </div>
    </div>
    <div class="row mt-3">
        <div id="displayDate" class="col ms-lg-2 ms-xl-5 me-lg-2 me-xl-5 mb-5">
            <div class="rounded-3 border pt-3">
                <div class="container mb-4">
                    <h2>This month</h2>
                    <h3><%= monthsData[today.getMonth() + 1]%>-<%= today.getFullYear() %></h3>
                    <div class="row mt-2 gy-3">
                        <% if (!preadvised_inM || preadvised_inM.length === 0) {%>
                            <div class="col col-12 col-sm-4 col-xl-3 mt-2">
                                <div class="card h-100 text-muted">
                                    <div class="card-body">
                                    <h5 class="card-title"><i class="bi bi-file-earmark-excel"></i> Empty...</h5>
                                    <p class="card-text">No preadvised tenders are matching this time frame.</p>
                                    </div>
                                </div>
                            </div>
                            <% } else { %>  
                        <% for (let entry of preadvised_inM) { %>
                            <div class="col col-12 col-sm-4 col-xl-3">
                                <div class="card h-100 <% if ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10) { %> 
                                border-danger
                                <% } %>">
                                    <% if ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10) { %> 
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger fs-6"><i class="bi bi-alarm"></i></span>
                                    <% } %>
                                    <h5 class="card-header text-truncate"><%= entry.companyName %></h5>
                                        <div class="card-body">
                                            <h6 class="card-title mb-0">Launch expected: <% if(entry.expectedReceiveDate.getDate() < 10) { %><%=`0${entry.expectedReceiveDate.getDate()}`%><% } else { %><%= `${entry.expectedReceiveDate.getDate()}` %><% } %>-<%= `${monthsData[entry.expectedReceiveDate.getMonth() + 1]}-${entry.expectedReceiveDate.getFullYear()}`%></h6>
                                            <p class="card-text mt-0">From <% for (let country of countriesData) { if (country.cca2 === entry.countryLocation) { %><%= country.name.common %> <%= country.flag %><% } %><% } %></p>
                                            <p class="card-text mb-0"><% if (entry.history.includes("historyNone")) { %><%="No history background"%><% } else if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) { %><%="Existing Rhenus Air & Ocean history"%><% } else { %><%="Existing Rhenus Group history"%><% } %></p>
                                            <% if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) {%><p class="card-text mt-0"><i><%= entry.existingCustomerSegment %></i></p><%}%> 
                                            <% if (entry.airFreightVolume) {%><p class="card-text mb-0"><%=`Air vol. ${parseInt(entry.airFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} Tons`%></p><%} if (entry.seaFreightFCLVolume) {%><p class="card-text mb-0"><%=`FCL vol. ${parseInt(entry.seaFreightFCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><%} if (entry.seaFreightLCLVolume) {%><p class="card-text mb-0"><%=`LCL vol. ${parseInt(entry.seaFreightLCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} CBMs`%></p><%} if (entry.railFreightVolume) {%><p class="card-text mb-0"><%=`Rail vol. ${parseInt(entry.railFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><% } %>
                                            <a href="/preadvise/<%= entry._id %> " class="card-link btn btn-light btn-sm border mt-3">Details</a>
                                        </div>
                                </div>
                            </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="container mb-4">
                    <h2>Within the next 3 months</h2>
                    <h3>from <%= monthsData[next30days.getMonth() + 1]%>-<%= next30days.getFullYear() %> to <%= monthsData[next90days.getMonth() + 1]%>-<%= next90days.getFullYear() %></h3>
                    <div class="row mt-2 gy-3">
                        <% if (!preadvised_inQ || preadvised_inQ.length === 0) {%>
                            <div class="col col-12 col-sm-4 col-xl-3 mt-2">
                                <div class="card h-100 text-muted">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-file-earmark-excel"></i> Empty...</h5>
                                        <p class="card-text">No preadvised tenders are matching this time frame.</p>
                                    </div>
                                </div>
                            </div>
                            <% } else { %>  
                        <% for (let entry of preadvised_inQ) { %>
                            <div class="col col-12 col-sm-4 col-xl-3">
                                <div class="card h-100 <% if ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10) { %> 
                                border-danger
                                <% } %>">
                                    <% if ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10) { %> 
                                        <span class="position-absolute top-0 start-100 translate-middle adge bg-danger fs-6"><i class="bi bi-alarm"></i></span>
                                    <% } %>
                                    <h5 class="card-header text-truncate"><%= entry.companyName %></h5>
                                        <div class="card-body">
                                            <h6 class="card-title mb-0">Launch expected: <% if(entry.expectedReceiveDate.getDate() < 10) { %><%=`0${entry.expectedReceiveDate.getDate()}`%><% } else { %><%= `${entry.expectedReceiveDate.getDate()}` %><% } %>-<%= `${monthsData[entry.expectedReceiveDate.getMonth() + 1]}-${entry.expectedReceiveDate.getFullYear()}`%></h6>
                                            <p class="card-text mt-0">From <% for (let country of countriesData) { if (country.cca2 === entry.countryLocation) { %><%= country.name.common %> <%= country.flag %><% } %><% } %></p>
                                            <p class="card-text mb-0"><% if (entry.history.includes("historyNone")) { %><%="No history background"%><% } else if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) { %><%="Existing Rhenus Air & Ocean history"%><% } else { %><%="Existing Rhenus Group history"%><% } %></p>
                                            <% if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) {%><p class="card-text mt-0"><i><%= entry.existingCustomerSegment %></i></p><%}%> 
                                            <% if (entry.airFreightVolume) {%><p class="card-text mb-0"><%=`Air vol. ${parseInt(entry.airFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} Tons`%></p><%} else if (entry.seaFreightFCLVolume) {%><p class="card-text mb-0"><%=`FCL vol. ${parseInt(entry.seaFreightFCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><%} else if (entry.seaFreightLCLVolume) {%><p class="card-text mb-0"><%=`LCL vol. ${parseInt(entry.seaFreightLCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} CBMs`%></p><%} else if (entry.railFreightVolume) {%><p class="card-text mb-0"><%=`Rail vol. ${parseInt(entry.railFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><% } %>
                                            <a href="/preadvise/<%= entry._id %> " class="card-link btn btn-light btn-sm border mt-3">Details</a>
                                        </div>
                                </div>
                            </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="container mb-5">
                    <h2>In the future</h2>
                    <h3>after <%= monthsData[next90days.getMonth() + 1]%>-<%= next90days.getFullYear() %></h3>
                    <div class="row mt-2 gy-3">
                        <% if (!preadvised_inY || preadvised_inY.length === 0) {%>
                            <div class="col col-12 col-sm-4 col-xl-3 mt-2">
                                <div class="card h-100 text-muted">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-file-earmark-excel"></i> Empty...</h5>
                                        <p class="card-text">No preadvised tenders are matching this time frame.</p>
                                    </div>
                                </div>
                            </div>
                            <% } else { %>  
                        <% for (let entry of preadvised_inY) { %>
                            <div class="col col-12 col-sm-4 col-xl-3">
                                <div class="card h-100 <% if ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10) { %> 
                                border-danger
                                <% } %>">
                                    <% if ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10) { %> 
                                        <span class="position-absolute top-0 start-100 translate-middle adge bg-danger fs-6"><i class="bi bi-alarm"></i></span>
                                    <% } %>
                                    <h5 class="card-header text-truncate"><%= entry.companyName %></h5>
                                        <div class="card-body">
                                            <h6 class="card-title mb-0">Launch expected: <% if(entry.expectedReceiveDate.getDate() < 10) { %><%=`0${entry.expectedReceiveDate.getDate()}`%><% } else { %><%= `${entry.expectedReceiveDate.getDate()}` %><% } %>-<%= `${monthsData[entry.expectedReceiveDate.getMonth() + 1]}-${entry.expectedReceiveDate.getFullYear()}`%></h6>
                                            <p class="card-text mt-0">From <% for (let country of countriesData) { if (country.cca2 === entry.countryLocation) { %><%= country.name.common %> <%= country.flag %><% } %><% } %></p>
                                            <p class="card-text mb-0"><% if (entry.history.includes("historyNone")) { %><%="No history background"%><% } else if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) { %><%="Existing Rhenus Air & Ocean history"%><% } else { %><%="Existing Rhenus Group history"%><% } %></p>
                                            <% if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) {%><p class="card-text mt-0"><i><%= entry.existingCustomerSegment %></i></p><%}%> 
                                            <% if (entry.airFreightVolume) {%><p class="card-text mb-0"><%=`Air vol. ${parseInt(entry.airFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} Tons`%></p><%} else if (entry.seaFreightFCLVolume) {%><p class="card-text mb-0"><%=`FCL vol. ${parseInt(entry.seaFreightFCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><%} else if (entry.seaFreightLCLVolume) {%><p class="card-text mb-0"><%=`LCL vol. ${parseInt(entry.seaFreightLCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} CBMs`%></p><%} else if (entry.railFreightVolume) {%><p class="card-text mb-0"><%=`Rail vol. ${parseInt(entry.railFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><% } %>
                                            <a href="/preadvise/<%= entry._id %> " class="card-link btn btn-light btn-sm border mt-3">Details</a>
                                        </div>
                                </div>
                            </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="container mb-4">
                    <h2 class="text-muted">Past preadvised</h2>
                    <h3 class="text-muted">Before <%= monthsData[today.getMonth() + 1]%>-<%= today.getFullYear() %></h3>
                    <div class="row mt-2 gy-3">
                        <% if (!preadvised_past || preadvised_past.length === 0) {%>
                            <div class="col col-12 col-sm-4 col-xl-3 mt-2">
                                <div class="card h-100 text-muted">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-file-earmark-excel"></i> Empty...</h5>
                                        <p class="card-text">No preadvised tenders are matching this time frame.</p>
                                    </div>
                                </div>
                            </div>
                            <% } else { %>  
                        <% for (let entry of preadvised_past) { %>
                            <div class="col col-12 col-sm-4 col-xl-3">
                                <div class="card h-100 <% if ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= -10) { %> 
                                border-secondary
                                <% } %>">
                                    <% if ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= -10) { %> 
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-secondary fs-6"><i class="bi bi-clock-history"></i></span>
                                    <% } %>
                                    <h5 class="card-header text-truncate"><%= entry.companyName %></h5>
                                        <div class="card-body">
                                            <h6 class="card-title mb-0">Launch expected: <% if(entry.expectedReceiveDate.getDate() < 10) { %><%=`0${entry.expectedReceiveDate.getDate()}`%><% } else { %><%= `${entry.expectedReceiveDate.getDate()}` %><% } %>-<%= `${monthsData[entry.expectedReceiveDate.getMonth() + 1]}-${entry.expectedReceiveDate.getFullYear()}`%></h6>
                                            <p class="card-text mt-0">From <% for (let country of countriesData) { if (country.cca2 === entry.countryLocation) { %><%= country.name.common %> <%= country.flag %><% } %><% } %></p>
                                            <p class="card-text mb-0"><% if (entry.history.includes("historyNone")) { %><%="No history background"%><% } else if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) { %><%="Existing Rhenus Air & Ocean history"%><% } else { %><%="Existing Rhenus Group history"%><% } %></p>
                                            <% if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) {%><p class="card-text mt-0"><i><%= entry.existingCustomerSegment %></i></p><%}%> 
                                            <% if (entry.airFreightVolume) {%><p class="card-text mb-0"><%=`Air vol. ${parseInt(entry.airFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} Tons`%></p><%} else if (entry.seaFreightFCLVolume) {%><p class="card-text mb-0"><%=`FCL vol. ${parseInt(entry.seaFreightFCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><%} else if (entry.seaFreightLCLVolume) {%><p class="card-text mb-0"><%=`LCL vol. ${parseInt(entry.seaFreightLCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} CBMs`%></p><%} else if (entry.railFreightVolume) {%><p class="card-text mb-0"><%=`Rail vol. ${parseInt(entry.railFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><% } %>
                                            <a href="/preadvise/<%= entry._id %> " class="card-link btn btn-light btn-sm border mt-3">Details</a>
                                        </div>
                                </div>
                            </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div id="displayOffice" class="col ms-lg-2 ms-xl-5 me-lg-2 me-xl-5 mb-5">
            <div class="rounded-3 border pt-3">
                <div class="container mb-4">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                <h2 class="my-1">AM tender desk</h2>
                            </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div class="row mt-2 gy-3">
                                    <% if (!preadvised_inAM || preadvised_inAM === 0) { %>
                                            <div class="col col-12 col-sm-4 col-xl-3 mt-2">
                                                <div class="card h-100 text-muted">
                                                    <div class="card-body">
                                                        <h5 class="card-title"><i class="bi bi-file-earmark-excel"></i> Empty...</h5>
                                                        <p class="card-text">No preadvised tenders are matching this tender desk.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } else { %> 
                                        <% for (entry of preadvised_inAM) { %>
                                            <div class="col col-12 col-sm-4 col-xl-3">
                                                <div class="card h-100 <% if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) < 0) && ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= -10)) { %> 
                                                    border-secondary
                                                    <% } else if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= 0) && (new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10) { %> 
                                                        border-danger
                                                        <% } %>">
                                                        <% if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) < 0) && ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= -10)) { %> 
                                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-secondary fs-6"><i class="bi bi-clock-history"></i></span>
                                                    <% } else if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= 0) && ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10)) { %> 
                                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger fs-6"><i class="bi bi-alarm"></i></span>
                                                    <% } %>
                                                    <h5 class="card-header text-truncate"><%= entry.companyName %></h5>
                                                        <div class="card-body">
                                                            <h6 class="card-title mb-0">Launch expected: <% if(entry.expectedReceiveDate.getDate() < 10) { %><%=`0${entry.expectedReceiveDate.getDate()}`%><% } else { %><%= `${entry.expectedReceiveDate.getDate()}` %><% } %>-<%= `${monthsData[entry.expectedReceiveDate.getMonth() + 1]}-${entry.expectedReceiveDate.getFullYear()}`%></h6>
                                                            <p class="card-text mt-0">From <% for (let country of countriesData) { if (country.cca2 === entry.countryLocation) { %><%= country.name.common %> <%= country.flag %><% } %><% } %></p>
                                                            <p class="card-text mb-0"><% if (entry.history.includes("historyNone")) { %><%="No history background"%><% } else if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) { %><%="Existing Rhenus Air & Ocean history"%><% } else { %><%="Existing Rhenus Group history"%><% } %></p>
                                                            <% if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) {%><p class="card-text mt-0"><i><%= entry.existingCustomerSegment %></i></p><%}%> 
                                                            <% if (entry.airFreightVolume) {%><p class="card-text mb-0"><%=`Air vol. ${parseInt(entry.airFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} Tons`%></p><%} else if (entry.seaFreightFCLVolume) {%><p class="card-text mb-0"><%=`FCL vol. ${parseInt(entry.seaFreightFCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><%} else if (entry.seaFreightLCLVolume) {%><p class="card-text mb-0"><%=`LCL vol. ${parseInt(entry.seaFreightLCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} CBMs`%></p><%} else if (entry.railFreightVolume) {%><p class="card-text mb-0"><%=`Rail vol. ${parseInt(entry.railFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><% } %>
                                                            <a href="/preadvise/<%= entry._id %> " class="card-link btn btn-light btn-sm border mt-3">Details</a>
                                                        </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %> 
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                <h2 class="my-1">AP tender desk</h2>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <div class="row mt-2 gy-3">
                                    <% if (!preadvised_inAP || preadvised_inAP === 0) { %>
                                            <div class="col col-12 col-sm-4 col-xl-3 mt-2">
                                                <div class="card h-100 text-muted">
                                                    <div class="card-body">
                                                        <h5 class="card-title"><i class="bi bi-file-earmark-excel"></i> Empty...</h5>
                                                        <p class="card-text">No preadvised tenders are matching this tender desk.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } else { %> 
                                        <% for (entry of preadvised_inAP) { %>
                                            <div class="col col-12 col-sm-4 col-xl-3">
                                                <div class="card h-100 <% if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) < 0) && ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= -10)) { %> 
                                                    border-secondary
                                                    <% } else if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= 0) && (new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10) { %> 
                                                        border-danger
                                                        <% } %>">
                                                        <% if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) < 0) && ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= -10)) { %> 
                                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-secondary fs-6"><i class="bi bi-clock-history"></i></span>
                                                        <% } else if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= 0) && ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10)) { %>
                                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger fs-6"><i class="bi bi-alarm"></i></span>
                                                    <% } %>
                                                    <h5 class="card-header text-truncate"><%= entry.companyName %></h5>
                                                        <div class="card-body">
                                                            <h6 class="card-title mb-0">Launch expected: <% if(entry.expectedReceiveDate.getDate() < 10) { %><%=`0${entry.expectedReceiveDate.getDate()}`%><% } else { %><%= `${entry.expectedReceiveDate.getDate()}` %><% } %>-<%= `${monthsData[entry.expectedReceiveDate.getMonth() + 1]}-${entry.expectedReceiveDate.getFullYear()}`%></h6>
                                                            <p class="card-text mt-0">From <% for (let country of countriesData) { if (country.cca2 === entry.countryLocation) { %><%= country.name.common %> <%= country.flag %><% } %><% } %></p>
                                                            <p class="card-text mb-0"><% if (entry.history.includes("historyNone")) { %><%="No history background"%><% } else if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) { %><%="Existing Rhenus Air & Ocean history"%><% } else { %><%="Existing Rhenus Group history"%><% } %></p>
                                                            <% if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) {%><p class="card-text mt-0"><i><%= entry.existingCustomerSegment %></i></p><%}%> 
                                                            <% if (entry.airFreightVolume) {%><p class="card-text mb-0"><%=`Air vol. ${parseInt(entry.airFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} Tons`%></p><%} else if (entry.seaFreightFCLVolume) {%><p class="card-text mb-0"><%=`FCL vol. ${parseInt(entry.seaFreightFCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><%} else if (entry.seaFreightLCLVolume) {%><p class="card-text mb-0"><%=`LCL vol. ${parseInt(entry.seaFreightLCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} CBMs`%></p><%} else if (entry.railFreightVolume) {%><p class="card-text mb-0"><%=`Rail vol. ${parseInt(entry.railFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><% } %>
                                                            <a href="/preadvise/<%= entry._id %> " class="card-link btn btn-light btn-sm border mt-3">Details</a>
                                                        </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %> 
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                <h2 class="my-1">EU tender desk</h2>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <div class="row mt-2 gy-3">
                                    <% if (!preadvised_inEU || preadvised_inEU === 0) { %>
                                            <div class="col col-12 col-sm-4 col-xl-3 mt-2">
                                                <div class="card h-100 text-muted">
                                                    <div class="card-body">
                                                        <h5 class="card-title"><i class="bi bi-file-earmark-excel"></i> Empty...</h5>
                                                        <p class="card-text">No preadvised tenders are matching this tender desk.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } else { %> 
                                        <% for (entry of preadvised_inEU) { %>
                                            <div class="col col-12 col-sm-4 col-xl-3">
                                                <div class="card h-100 <% if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) < 0) && ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= -10)) { %> 
                                                border-secondary
                                                <% } else if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= 0) && (new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10) { %> 
                                                    border-danger
                                                    <% } %>">
                                                    <% if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) < 0) && ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= -10)) { %> 
                                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-secondary fs-6"><i class="bi bi-clock-history"></i></span>
                                                        <% } else if (((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) >= 0) && ((new Date(entry.expectedReceiveDate).getTime() - new Date().getTime())/(1000 * 60 * 60 * 24) <= 10)) { %>
                                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger fs-6"><i class="bi bi-alarm"></i></span>
                                                    <% } %>
                                                    <h5 class="card-header text-truncate"><%= entry.companyName %></h5>
                                                        <div class="card-body">
                                                            <h6 class="card-title mb-0">Launch expected: <% if(entry.expectedReceiveDate.getDate() < 10) { %><%=`0${entry.expectedReceiveDate.getDate()}`%><% } else { %><%= `${entry.expectedReceiveDate.getDate()}` %><% } %>-<%= `${monthsData[entry.expectedReceiveDate.getMonth() + 1]}-${entry.expectedReceiveDate.getFullYear()}`%></h6>
                                                            <p class="card-text mt-0">From <% for (let country of countriesData) { if (country.cca2 === entry.countryLocation) { %><%= country.name.common %> <%= country.flag %><% } %><% } %></p>
                                                            <p class="card-text mb-0"><% if (entry.history.includes("historyNone")) { %><%="No history background"%><% } else if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) { %><%="Existing Rhenus Air & Ocean history"%><% } else { %><%="Existing Rhenus Group history"%><% } %></p>
                                                            <% if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) {%><p class="card-text mt-0"><i><%= entry.existingCustomerSegment %></i></p><%}%> 
                                                            <% if (entry.airFreightVolume) {%><p class="card-text mb-0"><%=`Air vol. ${parseInt(entry.airFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} Tons`%></p><%} else if (entry.seaFreightFCLVolume) {%><p class="card-text mb-0"><%=`FCL vol. ${parseInt(entry.seaFreightFCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><%} else if (entry.seaFreightLCLVolume) {%><p class="card-text mb-0"><%=`LCL vol. ${parseInt(entry.seaFreightLCLVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} CBMs`%></p><%} else if (entry.railFreightVolume) {%><p class="card-text mb-0"><%=`Rail vol. ${parseInt(entry.railFreightVolume).toLocaleString('en-US', {minimumFractionDigits: 2,maximumFractionDigits: 2})} TEUs`%></p><% } %>
                                                            <a href="/preadvise/<%= entry._id %> " class="card-link btn btn-light btn-sm border mt-3">Details</a>
                                                        </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %> 
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="displayTable" class="col ms-lg-2 ms-xl-5 me-lg-2 me-xl-5 mb-5">
            <div class="rounded-3 border pt-3">
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Prospect</th>
                        <th scope="col">Country</th>
                        <th scope="col">Tender desk</th>
                        <th scope="col">Expected launch</th>
                        <th scope="col">Modes</th>
                        <th scope="col">History</th>
                        <th scope="col">More</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% for (let entry of allPreadvisedTenders) {%>
                            <tr>
                                <th><%= entry.companyName %></th>
                                <td><% for (let country of countriesData) { if (entry.countryLocation === country.cca2) {%> <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= country.name.common %>"><%= country.flag %></span><span class="font-monospace ms-1"><%= entry.countryLocation %></span> <% }} %></td>
                                <td><span class="badge bg-secondary"><% if (preadvised_inAM.includes(entry)){ %>AM<% } else if (preadvised_inAP.includes(entry)) {%>AP<% } else if (preadvised_inEU.includes(entry)) {%>EU<% }%></span></td>
                                <td><% if(entry.expectedReceiveDate.getDate() < 10) { %><%=`0${entry.expectedReceiveDate.getDate()}`%><% } else { %><%= `${entry.expectedReceiveDate.getDate()}` %><% } %>-<%= `${monthsData[entry.expectedReceiveDate.getMonth() + 1]}-${entry.expectedReceiveDate.getFullYear()}`%></td>
                                <td><% if (entry.transportMode.includes("hasAirFreight")){ %><span class="me-1">AIR</span><% } %><% if (entry.transportMode.includes("hasSeaFreightFCL")){ %><span class="me-1">FCL</span><% } %><% if (entry.transportMode.includes("hasSeaFreightLCL")){ %><span class="me-1">LCL</span><% } %><% if (entry.transportMode.includes("hasRailFreight")){ %><span class="me-1">RAIL</span><% } %></td>
                                <td><% if (entry.history.includes("historyNone")) { %><%="No history background"%><% } else if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) { %><%="Has Rhenus A&O history"%><% } else { %><%="Has Rhenus Group history"%><% } %> <% if (entry.history.includes("historyAirOcean") || entry.history.includes("historyAir&Ocean")) {%><span><i><%= entry.existingCustomerSegment %></i></span><%}%> </td>
                                <td><a href="/preadvise/<%= entry._id %> " class="btn btn-light btn-sm border"><i class="bi bi-three-dots"></i></a></td>
                            </tr>
                            <% } %> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- OFF-CANVAS MODAL below -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Filters</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row mt-3">
            <div class="col col-12">
                <div class="rounded-3 border py-3 sticky-lg-top">
                    <nav class="nav flex-column">
                        <h5 class="text-center">Display options</h5>
                        <button class="btn btn-outline-light btn-block btn-sm border m-1" id="displayDateBtn"><span>By date</span></button>
                        <button class="btn btn-outline-light btn-block btn-sm border m-1" id="displayOfficeBtn"><span>By tender desk</span></button>
                        <button class="btn btn-outline-light btn-block btn-sm border m-1" id="displayTableBtn"><span>Compact table</span></button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="/js/preadvised_index.js"></script>
    <%- include("partials/commonBootstrap.ejs") %>
</body>
</html>