<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("../partials/commonStyles.ejs") %>
    <%- include("../partials/commonFonts.ejs") %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
</head>

<body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
<div class="container">
  <div class="row align-items-center my-3">
    <div class="col">
      <p><a class="btn btn-light btn-sm border" <% if (currentUser.isTenderTeam || currentUser.isUser) {%>href="/preadvise/index"<% } else {%>href="/preadvise/history"<% } %>><i class="bi bi-arrow-left-circle me-1"></i>Back</a></p>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-gear me-1"></i>Options</button>
    </div>
  </div>
    <div class="container mb-3">
    <h1><%= matchingTender.companyName %></h1>
    <h2>Tender pre-advised</h2>
  </div>
  <div class="row justify-content-center my-5">
    <div class="col-6">
      <div class="bs-stepper">
        <div class="bs-stepper-header" role="tablist">
          <!-- your steps here -->
          <div class="step px-2" <% if (matchingTender.id) { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender is pre-advised"<% } else {%>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender is not pre-advised"<% } %>>
            <div role="tab">
              <span class="bs-stepper-circle <% if (matchingTender.id) { %>bg-success<% } else { %>bg-danger<% } %>">1</span>
              <span class="bs-stepper-label">Preadvise</span>
            </div>
          </div>
          <div class="line"></div>
          <div class="step px-2" <% if (matchingTender.register) { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender is launched"<% } else { %>data-bs-toggle="tooltip" data-bs-placement="top" title="Tender is not launched yet"<% } %>>
            <div role="tab">
              <span class="bs-stepper-circle <% if (matchingTender.register) { %>bg-success<% } else { %>bg-light text-dark border border-secondary<% } %>">2</span>
              <span class="bs-stepper-label">Registration</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <table class="table">
        <tbody>
          <tr>
            <th scope="row">Preadvise ID</th>
            <td><span class="font-monospace"><%= matchingTender._id %></span></td>
          </tr>
          <tr>
            <th scope="row">Company name</th>
            <td><%= matchingTender.companyName %></td>
          </tr>
          <tr>
            <th scope="row">Sugar ID</th>
            <td><%= matchingTender.sugarID %></td>
          </tr>
          <tr>
            <th scope="row">Pre-advised by</th>
            <td><% if (matchingTender.author) { %><%= matchingTender.author.email %><% } else { %><span data-bs-toggle="tooltip" data-bs-placement="top" title="Unusual value"><i class="twa twa-warning me-2"></i>Unknown user</span><% } %></td>
          </tr>
          <tr>
            <th scope="row">Country related</th>
            <td><% for (let country of countriesData) { if (country.cca2 === matchingTender.countryLocation) { %> <span><%=`${country.flag}`%></span><span class="font-monospace ms-2"><%=`${country.cca2}`%></span><%}}%></td>
          </tr>
          <tr>
            <th scope="row">Registration date</th>
            <td><%= matchingTender.recordDate.getDate() %>-<%=monthsData[matchingTender.recordDate.getMonth() + 1]%>-<%=matchingTender.recordDate.getFullYear() %>
             <!-- Uncomment below to display the hour of registration -->
            <!-- at <%=matchingTender.recordDate.getHours()%>:<%=matchingTender.recordDate.getMinutes()%> -->
            </td>
          </tr>
          <tr>
            <th scope="row">Expected receive date</th>
            <td><%= matchingTender.expectedReceiveDate.getDate() %>-<%=monthsData[matchingTender.expectedReceiveDate.getMonth() + 1]%>-<%=matchingTender.expectedReceiveDate.getFullYear() %></td>
          </tr>
          <tr>
            <th scope="row">Key Tradelanes</th>
            <td>
              <% for (i=0; i < matchingTender.keyTradelanes.length; i++) { if (i!==matchingTender.keyTradelanes.length -1){%><%=`${tradelanes[matchingTender.keyTradelanes[i]]}`%><br><% } else { %><%=`${tradelanes[matchingTender.keyTradelanes[i]]}`%><%} }%>
            </td>
          </tr>
          <tr>
            <th scope="row">History</th>
            <td><% if (matchingTender.history[0]==="historyNone" ) { %> No history <% } else { for (i=0; i < matchingTender.history.length; i++) { if (i!==matchingTender.history.length -1){ if (matchingTender.history[i] === "historyAirOcean") {%><%=`${history[matchingTender.history[i]]}`%> (<i><%=`${matchingTender.existingCustomerSegment}`%></i>)<br><% } else {%><%=`${history[matchingTender.history[i]]}`%><br><% }} else { %><%=`${history[matchingTender.history[i]]}`%><%} } }%></td>
          </tr>
          <tr>
            <th scope="row">Transport Mode</th>
            <td> <% for (i=0; i < matchingTender.transportMode.length; i++) { if (i!==matchingTender.transportMode.length -1){%><%=`${transportModes[matchingTender.transportMode[i]]}`%><br><% } else { %><%=`${transportModes[matchingTender.transportMode[i]]}`%><%} }%></td>
          </tr>
          <tr>
            <th scope="row">Expected volumes</th>
            <td><% if (matchingTender.airFreightVolume) { %><%=`${(matchingTender.airFreightVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} Tons `%><i>estimated</i><br><%}%><% if (matchingTender.seaFreightFCLVolume) { %><%=`${(matchingTender.seaFreightFCLVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} TEUs `%><i>estimated</i><br><%}%><% if (matchingTender.seaFreightLCLVolume) { %><%=`${(matchingTender.seaFreightLCLVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} CBMs `%><i>estimated</i><br><%}%><% if (matchingTender.railFreightVolume) { %><%=`${(matchingTender.railFreightVolume).toLocaleString('en-US', { minimumFractionDigits: 2 })} TEUs `%><i>estimated</i><%}%></td>
          </tr>
        </tbody>
      </table>
</div>
<!-- Modal -->
<% if (matchingTender.author.equals(currentUser) || matchingTender.author.isAdmin || matchingTender.author.isTenderTeam) { %>
<div class="modal fade" id="deleteConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel"><i class="twa twa-warning me-2"></i>Delete confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <p>Are you sure you want to delete the preadvised tender related to <%= matchingTender.companyName %> ?</p>
          <strong>This action is irreversible !</strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary position-relative top-50 start-0" id="mod_returnBtn" data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle me-2"></i>Cancel</button>
        <form method="POST" action="/preadvise/<%= matchingTender.id %>?_method=DELETE">
          <button class="btn btn-outline-danger border-danger"><i class="bi bi-trash me-2"></i>Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<% } %>
<!-- OFF-CANVAS MODAL below -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">More actions</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div class="row mt-3">
          <div class="col col-12">
              <div class="rounded-3 border p-3 sticky-lg-top">
                  <nav class="nav flex-column">
                      <h5 class="text-center">Modify & delete</h5>
                      <div <% if (matchingTender.register) { %>data-bs-toggle="tooltip" data-bs-placement="left" title="This pre-advise is already launched"<% } else if (!matchingTender.author.equals(currentUser)) {%>data-bs-toggle="tooltip" data-bs-placement="left" title="You can't edit this tender"<% } %>><a class="btn btn-light btn-sm border mb-2 w-100 <% if ((!matchingTender.author.equals(currentUser) && !matchingTender.author.isAdmin && !matchingTender.author.isTenderTeam) || matchingTender.register) { %>disabled<% } %>" href="/preadvise/edit/<%= matchingTender.id %>"><i class="bi bi-pencil-square me-1"></i>Edit</a></div>
                      <div <% if (matchingTender.register) { %>data-bs-toggle="tooltip" data-bs-placement="left" title="This pre-advise is already launched"<% } else if (!matchingTender.author.equals(currentUser)) {%>data-bs-toggle="tooltip" data-bs-placement="left" title="You can't delete this tender"<% } %>><button class="btn btn-outline-danger btn-sm border-danger w-100" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" <% if ((!matchingTender.author.equals(currentUser) && !matchingTender.author.isAdmin && !matchingTender.author.isTenderTeam) || matchingTender.register) { %>disabled<% } %>><i class="bi bi-trash me-1"></i>Delete</button></div>
                  </nav>
              </div>
              <div class="rounded-3 border my-3 p-3 sticky-lg-top">
                <nav class="nav flex-column" <% if (matchingTender.register) { %>data-bs-toggle="tooltip" data-bs-placement="left" title="This pre-advise is already launched"<% } else if (!matchingTender.author.equals(currentUser)) {%>data-bs-toggle="tooltip" data-bs-placement="left" title="You can't launch this tender"<% } %>>
                    <h5 class="text-center">Launch the tender</h5>
                    <a class="btn btn-outline-success btn-sm border-success me-1 <% if ((!matchingTender.author.equals(currentUser) && !matchingTender.author.isAdmin && !matchingTender.author.isTenderTeam) || matchingTender.register) { %>disabled<% } %>" href="/preadvise/launch/<%= matchingTender.id %>"><i class="bi bi-send-check me-1"></i>Launch</a>
                </nav>
              </div>
              <div class="rounded-3 border my-3 p-3 sticky-lg-top">
                <nav class="nav flex-column">
                    <h5 class="text-center">Issue pdf report</h5>
                    <p>Send me a pdf report by email.</p>
                    <form action="/preadvise/report/<%= matchingTender.id %>" method="post">
                      <button class="btn btn-light btn-sm border w-100"><i class="bi bi-envelope-fill me-1"></i>Get a report</button>
                    </form>
                </nav>
              </div>
          </div>
      </div>
  </div>
</div>
    <%- include("../partials/commonBootstrap.ejs") %>
</body>
</html>