<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Moonshot Project | Start</title>
    <%- include("../partials/commonStyles.ejs") %>
    <%- include("../partials/commonFonts.ejs") %>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
<div class="container mt-5">
    <h1 class="text-center">Start page</h1>
    <div class="container rounded-3 mt-3">
        <div class="container rounded-3 p-3">
            <h2>Registration</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Pre-advise</h5>
                    <p class="card-text">Preadvise a tender before its launch.</p>
                    <div class="d-grid col-3 gap-2">
                        <a href="/preadvise/start" class="btn btn-outline-secondary btn-sm stretched-link">Go</a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Registration</h5>
                        <p class="card-text">In the starting blocks ! Launch your tender now !</p>
                        <div class="d-grid col-3 gap-2">
                            <a href="/register/start" class="btn btn-outline-secondary btn-sm stretched-link">Go</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (currentUser && currentUser.isTenderTeam) { %> 
        <div class="container rounded-3 p-3 my-2">
            <h2>Tender Team</h2>
            <div class="alert alert-info" role="alert">
                Only available (and visible) to the tender team.
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Dashboard</h5>
                    <p class="card-text">Visualize in a clear and concise way what lies ahead.</p>
                    <div class="d-grid col-3 gap-2">
                        <a href="/dashboard/start" class="btn btn-outline-secondary btn-sm stretched-link">Go</a>
                    </div>
                    </div>
                </div>
                </div>
                <!-- <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Offices</h5>
                        <p class="card-text">Get the office lists with the right contacts and spread the launch emails.</p>
                        <a href="/office/start" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <% } %> 
    </div>
</div>
    <%- include("../partials/commonBootstrap.ejs") %>
</body>
</html>