<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonshot | Home</title>
    <%- include("../partials/commonStyles.ejs") %>
    <%- include("../partials/commonFonts.ejs") %>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
<div class="container">
    <h1>Offices</h1>
    <p><a href="/start">Go back to the start page</a></p>

    <div class="container mt-3">
        <h2>Registration</h2>
        <div class="container rounded-3 border border-2 p-3">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Register a new office</h5>
                        <p class="card-text">Add a new office in the database.</p>
                        <a href="/office/new" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Office List</h5>
                        <p class="card-text">Check the list of offices around the world.</p>
                        <a href="/office/index" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Contact List</h5>
                        <p class="card-text">Find the right person... hopefully at the right time.</p>
                        <a href="#" class="btn btn-primary disabled">Soon</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Mailing</h5>
                        <p class="card-text">Ready, set, launch your mails !</p>
                        <a href="#" class="btn btn-primary disabled">Soon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <%- include("../partials/commonBootstrap.ejs") %>
    <script src="/js/office_new.js"></script>
</body>
</html>